[2014-10-10 21:33] kitajchuk opened #10 "Remote vs Local Site CSS"

[2014-10-16 02:25] kitajchuk opened #12 "Static pages support"

[2014-10-16 02:28] kitajchuk opened #13 "Tag squarespace:folder-navigation"

[2014-11-15 04:32] kitajchuk opened #28 "Sandbox trial mode support"

[2014-11-20 19:44] kitajchuk opened #33 "Predicate video?"

[2014-11-20 19:44] kitajchuk opened #34 "Predicate disqus?"

[2014-11-20 21:12] kitajchuk opened #35 "Predicate promote[blockName]?"

[2014-11-20 21:12] kitajchuk opened #36 "Formatter social-button"

[2014-11-20 21:12] kitajchuk opened #37 "Formatter comments"

[2014-11-20 21:13] kitajchuk opened #38 "Formatter comment-link"

[2014-11-20 21:13] kitajchuk opened #39 "Formatter comment-count"

[2014-11-20 21:13] kitajchuk opened #40 "Formatter like-button"

[2014-11-20 21:14] kitajchuk opened #41 "Formatter product-price"

[2014-11-20 21:14] kitajchuk opened #42 "Formatter product-status"

[2014-11-20 21:14] kitajchuk opened #43 "Formatter pluralize"

[2014-11-20 21:14] kitajchuk opened #44 "Formatter smartypants"

[2014-11-20 21:19] kitajchuk opened #45 "Tag squarespace-post-entry support"

[2014-12-19 23:12] kitajchuk opened #57 "LESS - Compile all at once."

[2014-12-19 23:51] kitajchuk opened #58 "LESS - Use compatible version 1.3.3."

[2015-01-06 20:11] ryananthony opened #59 "{squarespace-headers} output duplicated after opening body tag"
This is happening on two different site templates I've pulled down. In the rendered markup, it appears that after the opening body tag, the `{squarespace-headers}` output is being duplicated and seems to inject a comma just before. In the pre-rendered markup, however, the mentioned header output is actually duplicated in the `<head>`.

As you can see from the find-all in Sublime Text, there is onl

[2015-01-06 20:49] kitajchuk commented on #59
Thanks for noting this. I haven't been able to test on any Windows machines yet so its not too surprising there are some bugs there. I'll try to replicate the setup and see what I can do about fixing this issue :)

[2015-01-08 00:43] kitajchuk opened #60 "Folders - Support folderActive property on navigations"

[2015-01-08 00:45] kitajchuk opened #61 "Folders - Support rendering folder submenu items"

[2015-01-08 00:45] kitajchuk opened #62 "Predicate folder?"

[2015-01-08 01:46] #60 closed

[2015-01-08 01:46] #61 closed

[2015-01-08 01:46] #62 closed

[2015-01-13 19:21] ryananthony commented on #59
Sorry it took so long to get back to you. The template according to template.conf is "Five" by "Eric E. Anderson".

[2015-01-19 19:19] cwaring commented on #28
Great work @kitajchuk, you're right about the TypeKit issue too. In the meantime I've found a workaround is to add `localhost <yoursite>.squarespace.com.local` in your hosts file to trick TypeKit into matching on the domain.

[2015-01-20 17:08] #12 closed

[2015-01-20 17:12] kitajchuk commented on #28
Nice! Glad that works for now :)

On Mon, Jan 19, 2015 at 11:19 AM, Chris Waring <notifications@github.com>
wrote:

--
Brandon Lee Kitajchuk
Javascript Junkie
blkpdx.com

[2015-01-23 01:09] joshpopenyc opened #64 "Page with sub-pages fails to load, see attached error"
First off- thank you for creating this! Largely, it has been extremely useful.. So kudos to you.

That said, I've hit what appears to be an edge case.

I have a page, which has several subpages (IE, so in the main nav I have a link "about" with a drop-down to subpages, "what we do," "projects," "partners," and "contact.")

All of the subpages load just fine, however if I click the top level link (

[2015-01-23 01:09] joshpopenyc commented on #64
I should note that no other top level pages/links have errors. However, no other pages have sub-pages.

[2015-01-23 17:19] kitajchuk commented on #64
I think I know what you are talking about. I have a question about that. When you load that top level page on the xxx.squarespace.com domain, does it load the first sub-page instead?

I ask because I was playing around with indexes and folders a couple weeks ago and noticed that the top level page for a folder with sub-pages would just load the first sub-page in the tree.

Say I have a folder call

[2015-01-23 17:28] kitajchuk commented on #59
Okay. I'll take a look at that one.

[2015-01-23 17:35] kitajchuk commented on #64
In my mind, the solve would be to replicate the redirection that occurs in this scenario on the squarespace.com domains. Seems to make sense.

[2015-01-23 17:56] kitajchuk commented on #64
Even with a query string param of format=json on my test site, the /test-folder/ path redirects to /test-page/ with no query string. In testing the node server, the error is throwing because the json is not coming through but rather the html...

[2015-01-23 18:31] kitajchuk commented on #64
I fixed the same issue by following suit with how Squarespace seems to be handling root level folder requests. The branch is here, https://github.com/kitajchuk/node-squarespace-server/tree/folder-root-redirect.

If you could go ahead and install that branch locally and test with it that would be great. Let me know if you think its working correctly.

Thanks man!

[2015-01-23 21:22] kitajchuk commented on #59
I ran the "Five" template stock in VirtualBox on Windows 7 with the latest node and it worked just fine. I'll try the older node version you are running.

[2015-01-27 12:57] jarneuyt opened #66 "BLOCK ERROR - Empty block JSON"
Hey there! I'm trying to follow your Squarespace flow but I'm stuck in the end.
I'm able to start the server (sqs server) and log in. But after that, I get a message "This webpage is not available". See my terminal output below. Any ideas?

MacBook-Pro-Jarne-11:sqs_template jarneuytersprot$ sqs server

TypeError: Cannot call method 'match' of undefined
    at Object.getAttrObj (/usr/local/lib/node

[2015-01-27 13:27] jarneuyt commented on #66
If I remove the code below, it works.

<footer id="footer" class="footer">
        <squarespace:block-field id="footerBlocks" columns="12" />
</footer>

[2015-01-27 13:58] jarneuyt commented on #59
I have the same issue with the comma.
I'm using the Base Template (as a developer).

[2015-01-28 00:42] kitajchuk commented on #66
Good find! Looks like I'm not running an important piece of code when bypassing error prone blocks:

[code]

[2015-01-28 00:56] kitajchuk commented on #66
I just merged a fix in for this issue:
122f58a9e3412cf69ee1853b3a1b2ce9d0f9cab2

The new published package version:
node-squarespace-server@0.1.16

Let me know if that works and I'll close this issue out :)

[2015-01-28 08:46] jarneuyt commented on #66
Seems to work! Thanks, I appreciate your work and help :)

[2015-01-28 08:51] jarneuyt commented on #59
Could you check into this issue?
The problem only seems to happen on your node squarespace server.
When I push the template online, the problem seems to be gone.

![screen shot 2015-01-28 at 09 47 53](https://cloud.githubusercontent.com/assets/1716614/5934677/cc3489ac-a6d2-11e4-81fe-7914e1a70f8a.png)

[2015-01-28 17:08] #66 closed

[2015-01-28 17:10] kitajchuk commented on #59
Yeah, I'm looking into it but haven't been able to reproduce it yet to fix it. What is your setup? Maybe that will help. I replicated @ryananthony setup and didn't get the error :/

[2015-01-28 17:15] jarneuyt commented on #59
I'm running your server on Mac OSX (Yosemite) and I'm testing in Chrome.
My developer mode is enabled. The template I started from is the Base Template.

[2015-01-28 17:35] kitajchuk commented on #59
@jarneuyt - Okay, so I have to ask if you would mind supplying me with your region file if it doesn't have anything sensitive in it. My setup is Yosemite on Mac, Chrome and an unmodified copy of Base Template in developer/sandbox mode. I still don't get this issue so I'm just unsure what may be causing it.

[2015-01-28 19:09] jarneuyt commented on #59
Sure! Here you go: http://cl.ly/42413H46241x
If you need anything else, shoot!

[2015-01-28 19:12] jarneuyt commented on #59
I also get this when I check my console:
**"Common running twice .... this is concerning."**

![screen shot 2015-01-28 at 20 12 07](https://cloud.githubusercontent.com/assets/1716614/5944789/fe0e7b34-a729-11e4-8535-8b7970ce9a7c.png)

[2015-01-28 19:20] foleyatwork opened #68 "Separate JSON-T into a separate repo"
Hey BK, I was thinking the other day, perhaps we should separate the template engine out into a separate repo. That way we could keep a JS version of JSON-T with all the Squarespace formatters and predicates. You have any thoughts?

[2015-01-28 19:22] kitajchuk commented on #59
I'll look into that. I wouldn't worry about it since its just your local server. There's still some work to be done on the headers parsing for this project for sure.

[2015-01-28 19:23] jarneuyt commented on #59
Ayt! I appreciate your work & time :) Keep it up!

[2015-01-28 19:28] kitajchuk commented on #68
None other than that's a great idea!

[2015-01-28 19:28] kitajchuk commented on #68
I already broke out the middleware, so I think this modular approach to the project is a good idea.

[2015-01-28 19:29] foleyatwork commented on #68
Awesome. If/when you feel like breaking it out, let me know. You know the architecture of this server better but I will be ready to contribute as soon as you create the other repo.

[2015-01-28 19:29] kitajchuk commented on #68
I guess I would call it either `node-squarespace-template` or `node-squarespace-jsont`. I like the latter.

[2015-01-28 19:29] kitajchuk commented on #68
Sounds good man, thanks for the suggestion!

[2015-01-28 19:31] foleyatwork commented on #68
You think we could make it so it runs on the client, too? It would be awesome to be able to reuse template code on the server and client.

[2015-01-28 19:32] foleyatwork commented on #68
I mean, I know we could. Just bringing it up as a project goal to get your feedback.

[2015-01-28 19:32] kitajchuk commented on #68
Yeah, I don't see why we couldn't make it run in both environments.

[2015-01-28 19:35] kitajchuk commented on #68
Breaking out the actual json-t lib, predicates and formatters is easy. The harder part is going to be refactoring the code in the squarespace-template.js module. This stuff is pretty gnarly so a good cleanup of it would be nice.

In terms of the client... The project uses the middleware for block and widget rendering which would add an extra layer of complexity to making it work in the browser.

I

[2015-01-28 19:41] kitajchuk commented on #68
It seems like the middleware would need a client version as well. For that we would have to use jsonp. For instance, this works when you add site and password info as its relevant to your sqs site:

[code]

[2015-01-28 19:42] kitajchuk commented on #68
This would work for basic api requests. Block and Widget stuff, idk. The middleware is spoofing headers to make all that work so it would be trial and error to see how far we can get with it.

[2015-01-28 21:33] kitajchuk commented on #59
Still not replicating the issue. Maybe send me your css/less... There's a known issue in local less compilation vs what is done on the sqs server. I'm wondering if there could be an issue there since the server currently drops the local css inline in the <head>.

[2015-01-28 21:33] kitajchuk commented on #59
I meant that to be "in the head element".

[2015-01-28 21:36] jarneuyt commented on #59
Hmmm, here you go: http://cl.ly/1L2p3K3V2O3t (my styles folder)

What I did notice is that you added at the top of screen.scss:
'@import "compass";
@import "compass/reset";'

Where does it find that compass and compass/reset?

[2015-01-28 21:40] kitajchuk commented on #64
Closing this one out. Merged in the above fix. Published new version node-squarespace-server@0.1.17.

[2015-01-28 21:40] #64 closed

[2015-01-28 21:47] kitajchuk commented on #59
Compass, the command line interface, pulls those in from its installed files. The "compass" import is so you can use Compass' mixins and the reset is a stock reset css include. You don't need to use the reset if you have your own or prefer something else to it.

Also, tested with your css and still cannot replicate the issue :/

[2015-01-28 21:51] jarneuyt commented on #59
I uploaded my full project for you.
Hope that will help you out better: http://cl.ly/130Q3Q151b11

[2015-01-28 22:49] kitajchuk commented on #59
Ha! I'm working on some updates to the Instrument site and just got this bug replicated locally for that project. I'm looking into a solve for it now.

[2015-01-28 22:55] jarneuyt commented on #59
High five! Looking forward to the update.

[2015-01-28 23:37] #59 closed

[2015-01-28 23:38] kitajchuk commented on #59
I just merged in the fix for this issue. The latest package version is node-squarespace-server@0.1.18.

[2015-01-28 23:42] jarneuyt commented on #59
Thanks!
Care to share what caused the problem / how you fixed it?

[2015-01-28 23:43] kitajchuk commented on #59
The ultimate cause was an incorrect reference to the headers to inject if NOT running a site in sandbox mode.

[2015-01-28 23:45] jarneuyt commented on #59
I updated and it looks good now! Rock'n roll! :+1:

[2015-01-29 00:03] kitajchuk commented on #59
Sweet! Glad to hear it :D

[2015-01-29 01:52] foleyatwork commented on #68
I don't know that we'd have to go that far. When you think about it, you never really need block and widget rendering as a template developer, right? Those will get returned as markup in the {body} or {mainContent} keys.

[2015-01-29 03:21] kitajchuk commented on #68
True.

[2015-01-29 22:27] #28 closed

[2015-01-29 22:28] kitajchuk opened #71 "Bug - Handle password protected pages"
Not sure we can, but they definitely don't work right now. Needs looking into.

[2015-01-30 10:46] jarneuyt opened #72 "CSS Cache"
Hey there again!

I notice a considerable slow-down in my workflow caused by caching.
Everytime I make a change to my css (locally) and do the "grunt" command, it doesn't show the new css in my local squarespace. Instead it keeps showing older css (coming from the online site.css).

Am I missing something?

[2015-01-30 10:50] jarneuyt commented on #72
Oops, I just noticed you did an update. Works perfectly now! Instant changes locally. I love it :) Thanks.

[2015-01-30 10:50] #72 closed

[2015-02-04 18:05] kitajchuk commented on #68
I pulled out the json-template code into its own module:
https://github.com/kitajchuk/node-squarespace-jsont

The current published version of the server is now node-squarespace-server@0.1.20.

Any recommendations on the client-side implementation for json-template? It's just a node template engine right now. I figure since you develop templates you would best know how you would like to use it :)

[2015-02-04 20:21] #36 closed

[2015-02-04 20:21] #37 closed

[2015-02-04 20:21] #38 closed

[2015-02-04 20:21] #39 closed

[2015-02-04 20:21] #40 closed

[2015-02-04 20:21] #41 closed

[2015-02-04 20:21] #42 closed

[2015-02-04 20:21] #43 closed

[2015-02-04 20:21] #44 closed

[2015-02-04 20:22] #33 closed

[2015-02-04 20:22] #34 closed

[2015-02-04 20:22] #35 closed

[2015-02-05 18:24] #68 closed

[2015-02-08 14:31] jarneuyt opened #74 "Internal Error: Unable to parse server response from (/api/template/GetTemplateSchema) as JSON."
I keep getting this error when I work on my localhost. I tried to start from scratch, but still the same error pops up. It started all of a sudden and won't go away now. Any ideas?

![screen shot 2015-02-08 at 15 30 48](https://cloud.githubusercontent.com/assets/1716614/6096882/791bb096-afa7-11e4-945a-be2561fa2789.png)

![screen shot 2015-02-08 at 15 29 40](https://cloud.githubusercontent.com/asse

[2015-02-09 01:03] beaucharman commented on #74
I am getting the same error here

[2015-02-09 13:01] cwaring commented on #74
Same here, trying to track it down further. Anyone found a fix/workaround?

[2015-02-09 17:42] dalekurt opened #75 "TypeError: Cannot read property 'typeName' of undefined"
I'm having this issue, `TypeError: Cannot read property 'typeName' of undefined` after reading another issue on this error message and that it was merged. I am still receiving it. Is there anything that I can as it related to my environment to fix it? I'm on Mac OS X (10.10.2)

[code]

[2015-02-09 18:16] kitajchuk commented on #75
To be certain, which version of the server are you using?

[2015-02-09 18:17] sonnyhh commented on #74
Yeah, same problem here, and not managed a fix.

[2015-02-09 18:19] kitajchuk commented on #74
The server currently prevents calls to /api. This isn't necessarily to say that is the right thing for it to do. For instance, it re-routes any calls to /universal so perhaps a similar approach should be implemented here. Which templates are you guys using?

[2015-02-09 18:20] dalekurt commented on #75
Executing `sqs --version` does not return a value.

[2015-02-09 18:22] jarneuyt commented on #74
I'm using the base template. (starting from scratch)

[2015-02-09 18:31] kitajchuk commented on #74
Alright, I can replicate this locally myself. Interesting, I haven't seen a template make that api request yet. As of last week, my local base-template worked fine with the server. I'm going to try to work this out. I'll post here with any feedback and updates on it :)

[2015-02-09 18:44] cwaring commented on #74
Thanks @kitajchuk, if it helps any here's a stacktrace from the minified Squarespace JS
![screen shot 2015-02-09 at 19 41 42](https://cloud.githubusercontent.com/assets/106938/6112908/bd5d0858-b093-11e4-8a55-36551bfc2cd0.png)

[2015-02-09 18:48] kitajchuk commented on #75
That's another bug, but I pushed a fix for that real quick :/

[2015-02-09 18:49] kitajchuk commented on #75
Also, which template are you using?

[2015-02-09 18:50] kitajchuk commented on #74
Yeah, it looks like I just need to just let those requests go through so any Squarespace YUI code executing can receive the data it needs.

[2015-02-09 18:52] dalekurt commented on #75
The template is called `Bedford`

[2015-02-09 18:53] kitajchuk commented on #75
Ok, thanks man.

[2015-02-10 07:02] #74 closed

[2015-02-10 07:04] kitajchuk commented on #74
Just merged a fix for this issue, 42bea74f2b82dc6a5decd8ababbab36f5e7f6da0. Tested with Base Template. New package is node-squarespace-server@0.1.23.

[2015-02-10 09:43] jarneuyt opened #77 "Double output"
My page gets shown twice (see screenshot). I tried to reproduce the bug with a very simple file and still the same issue. Any idea what this could be?
*Note: when i update my home.region, the top part updates, while the second part (duplicated?) doesn't change.*

![screen shot 2015-02-10 at 10 38 50](https://cloud.githubusercontent.com/assets/1716614/6124830/171cf6be-b111-11e4-8d3a-fd733caeebfd.pn

[2015-02-10 11:28] cwaring commented on #74
:+1:

[2015-02-10 14:02] cwaring commented on #77
I'm getting the same issue too, it seems to render the local templates then load in the current public squarespace html (and headers) at the bottom of the document.

[2015-02-10 14:06] cwaring commented on #77
I've tracked it down to the {squarespace-footers} tag, removing this fixes the duplicate output for me.

[2015-02-10 14:11] jarneuyt commented on #77
Good find. I'm also having issues again with the caching.
@kitajchuk You resolved the caching problem, no? The issue seems to be back.

[2015-02-10 14:14] jarneuyt commented on #77
Good find @cwaring.
The double output seems to be "overriding" your current css. So the online site.css interferes with your local css. Pretty annoying. When I remove the squarespace-footers tag, I don't seem to have any problems anymore :)

[2015-02-10 14:35] sonnyhh commented on #77
Having the same issues here with the double output... Can replicate the temporary fix by removing the {squarespace-footers} tag also. Any thoughts on a fix?

[2015-02-10 15:54] kitajchuk commented on #77
What version of the server are you guys on?

[2015-02-10 15:55] jarneuyt commented on #77
The latest.

[2015-02-10 15:55] kitajchuk commented on #77
Okay, I'll take a look.

[2015-02-10 15:59] kitajchuk commented on #77
Replicated this locally. Looking into a fix.

[2015-02-10 16:20] kitajchuk commented on #77
Looks like they changed the imageloader code snippet, so the footers parsing is breaking. Unfortunately there's not a better way to do that so I'll just have to update the code. Funny enough, they spelled "bootstrapper" wrong, "imageloader-bootstraper".

[2015-02-10 16:22] kitajchuk commented on #77
Just merged a fix in for this issue, 06282425c3ca45bb8ad0abc9c1dbc8a7b22a730b. The latest package version is node-squarespace-server@0.1.24. If this seems to work then I'll close this issue :)

[2015-02-10 17:16] adrienhobbs commented on #75
Had the same problem @dalekurt.  Make sure you set a site wide password by going to settings -> security.  Then use this password as the password in your template.conf, not the password you use to login to Squarespace.

[2015-02-10 17:16] cwaring commented on #77
Ha, great. Least we know where to look when everything explodes again if they fix the typo :)

Thanks for the patch :+1:

[2015-02-10 17:20] kitajchuk commented on #75
Ah, yeah. Sitewide password is separate from your Squarespace account password.

[2015-02-10 21:35] beaucharman commented on #77
Thank you @kitajchuk !

[2015-02-11 19:55] #77 closed

[2015-02-11 19:56] kitajchuk commented on #75
@dalekurt Was that the cause of your issue?

[2015-02-11 21:54] cwaring opened #79 "The "Local LESS" Issue"
I'm currently working with the Bedford template as a base and Squarespace provides a couple of custom import shortcuts that must get expanded at runtime using their LESS compiler. These are causing silent errors locally during compilation because they cannot be resolved.
[code]

![screen shot 2015-02-11 at 22 50 08](https://cloud.githubusercontent.com/assets/106938/6157307/9a986dcc-b240-11e4-93a4-

[2015-02-12 00:03] kitajchuk commented on #79
Yes, this one is on my radar. I can take a look at it again and see what I come up with. I have been planning on circling back to this issue as I know its a pain point for people. I'll let you know what I find / when its resolved :)

[2015-02-12 00:26] kitajchuk commented on #79
The styles from those imports are loaded locally from the remote site.

The current setup is that the remote site.css loads and then the local one is loaded on top of that. There's no good way to do this right now, so that is the setup for the time being.

I think the only real issue with these imports is that any variables defined in them and then used in your local less files would be undefined.

[2015-02-12 00:29] kitajchuk commented on #79
@foleyatwork - Any insights on this?

[2015-02-12 07:27] cwaring commented on #79
Good to hear it's on the radar, I'm happy to chip in where possible.
The main issue at the moment seems to be that the Node LESS compiler exits when it hits an error, so the output is truncated and replaced with `undefined `.
If it was possible to emulate these includes locally, (maybe @foleyatwork could provided the source?), then we could regex out the squarespace site.css from the headers and j

[2015-02-12 19:30] kitajchuk commented on #79
Yeah. I think for starters it should capture the less compiler errors and keep from outputting the "undefined" strings in the local css.

As for remote site.css, I would love to parse that out from the headers and run only the local styles. The only issue currently is that there is a bunch of Squarespace commons css that is a part of that which we also don't have locally. I tried this at one point

[2015-02-13 09:39] cwaring commented on #79
I like the preserved comment idea, that provides a sensible start to separating the two.

[2015-02-14 00:21] kitajchuk commented on #79
I'll see about getting that in there as a starting point :)

[2015-02-19 21:41] shawn-northrop commented on #75
I am having the same issue. I am able to load the local login screen but after logging in I am seeing this in the console:

    Cannot read property 'targetWebsite' of undefined
    at Request._callback (/usr/local/lib/node_modules/node-squarespace-server/node_modules/node-squarespace-middleware/squarespace-middleware.js:108:22)
    at Request.self.callback (/usr/local/lib/node_modules/node-square

[2015-02-19 21:47] shawn-northrop commented on #75
I have tried using the sitewidepassword as described, I have also removed the sitewidepassword from squarespacesettings and template.conf. It fails both ways

[2015-02-19 21:48] shawn-northrop commented on #75
I am using the Marquee template

[2015-02-19 21:53] shawn-northrop commented on #75
Fixed the issue I was using http:// for the siteurl. This needs to be https://

[2015-02-20 06:47] kitajchuk commented on #75
Oh man, yeah. That's a good point out. The protocol for the siteurl must be https. Glad you figured it out.

[2015-02-20 06:47] #75 closed

[2015-02-20 19:44] kitajchuk opened #80 "Parse remote squarespace:script out of footers"

[2015-02-20 19:56] #80 closed

[2015-02-23 03:27] tdrach opened #82 "pageJson.collection undefined"
Thank you so much for spending the time making this module.
I'm getting the following error:

[code]

I double checked my siteUrl.
Any ideas on how to fix this problem?

[2015-02-23 04:22] tdrach commented on #82
I found this was an issue with trial accounts with dev mode turned on. Using a dev sandbox account, no error is thrown, but ```undefined``` is now passed as the content.

[2015-02-23 16:51] kitajchuk commented on #82
Do you have the `"sandbox": true` option set in your template.conf under the server config?

[2015-02-23 16:53] tdrach commented on #82
I do, here's my ```server``` content in ```template.conf```
[code]

[2015-02-23 16:57] kitajchuk commented on #82
Ok, cool. Which template are you using? Also, can you do an `sqs buster` and run it again? Sometimes if you try to run the server before adding the "sandbox" option in the config it caches "undefined". You can check the `.sqs-cache` directory to see if this is the case. So subsequent requests load from cache and fail once sandbox config is present. Clearing local cache and starting fresh usually c

[2015-02-23 17:14] tdrach commented on #82
That did it. Thank you so much for making this available, and your write up. This makes Squarespace development bearable.

[2015-02-23 17:14] #82 closed

[2015-03-03 21:54] loadedsith opened #83 "No content is being returned in my template."
The title is updating, but the content I add to SquareSpace is not being added to the local site. I looked in the sqs-cache for my content, and the data includes my video and gallery, but it's not added to the page.

I am using a sandbox account, and I get no errors from the server. If you could point me in the right direction? Thanks

[2015-03-03 23:15] kitajchuk commented on #83
If you add content in the CMS, you have to bust your local cache manually. Either stop the server and run `sqs buster` or use the `?nocache` query string parameter on the page. Let me know if that helps.

[2015-03-04 15:21] loadedsith commented on #83
It does not. It does seem to work to a degree, the site title changes, and the color of the page seems to have changed. The content is configured as pages under the welcome page.

[2015-03-04 15:25] loadedsith commented on #83
When I changed the background color from black, it seems there's a message "You must select a collection to display."

[2015-03-04 16:51] kitajchuk commented on #83
Hmm, what template are you using? Also, any more specifics? The more info I have the better I can help troubleshoot what may be happening.

[2015-03-04 16:54] loadedsith commented on #83
I can appreciate that, I wish better knew what to provide. The theme is "Pacific".

[2015-03-04 16:56] kitajchuk commented on #83
That's a starting point. How much have you changed on it so far?

[2015-03-04 16:56] kitajchuk commented on #83
Also, even though it sounds like these aren't your issues, it may help to check this section of the readme out just in case: https://github.com/kitajchuk/node-squarespace-server#troubleshooting

[2015-03-04 16:57] loadedsith commented on #83
Not much, content, and a little css

[2015-03-04 16:59] loadedsith commented on #83
https: Check
"sandbox:true" in template.conf > server: Check
Cache buster tried: Check

[2015-03-04 16:59] loadedsith commented on #83
there's a hyphen in my user name, could that be related?

[2015-03-04 17:04] kitajchuk commented on #83
I don't think so. As long as you are logging in fine locally that wouldn't be an issue. I just spun up a site using that template and have it running locally with what appears to be your issue: no content. This is also causing a Javascript error to be thrown locally in site.js. I'll dig around and see if I can resolve this problem.

[2015-03-04 17:20] kitajchuk commented on #83
Good news. It appears the problem is in the use of this predicate: `{collectionTypeNameEquals? type}`. I haven't run into this one yet and as far as I know, its not in the public docs. This resolve will actually require an update to https://github.com/kitajchuk/node-squarespace-jsont. Once that is published you can reinstall the server with npm and you should be clear on this issue. I'll let you k

[2015-03-04 17:31] loadedsith commented on #83
Thanks for the effort!

[2015-03-04 17:41] kitajchuk commented on #83
I published the changes. The new version of the server:
node-squarespace-server@0.1.28

And the version of jsont it should be pulling is:
node-squarespace-jsont@0.1.5

Let me know if that helps. I would run `sqs buster` after updating your server install with npm just to start fresh again.

[2015-03-04 19:54] loadedsith commented on #83
Success! Thanks so much! For the record, my update command failed, so I

     npm remove -g node-squarespace-server

then

     npm install -g node-squarespace-server

then

     sqs buster

then

     sqs server

Logged in, and watched your beautiful code render my site. Thanks! Id gladly buy you a beer, anytime.

[2015-03-04 19:54] #83 closed

[2015-03-04 20:33] kitajchuk commented on #83
Awesome! Glad we figured it out :)

[2015-03-04 22:20] catherineomega opened #84 ""TypeError: Cannot read property 'displayName' of undefined""
When I run the server, it lets me log in, then fails here:
[code]

("front.region" doesn't exist in my template;  'insights' is the name of the blog feature that DOES exist.)

The error returned:
[code]
Any ideas? sqs is at 0.1.28 and Node is at v0.10.26.

[2015-03-05 00:54] kitajchuk commented on #84
Oh yes, the template key is maybe confusing. The template it declares is not an actual template file in your theme. The server parses your local copy and creates a reference object for what template(s) to use and/or put together and use for rendering. My guess is you have a layout in your template.conf file called "front" which is why you would get that template key logging out.

Ok, aside from th

[2015-03-05 02:00] catherineomega commented on #84
Aha, okay! That makes a lot more sense. Yes, you're correct, I have a "front"  in "layouts", and if I remove or rename the collection "insights" in the template, it will query the correspondingly collection--or not, if it's removed. (I've checked through the "insights" the client has posted, and they all appear to actually have authors as per the Squarespace UI, at least. And it happens on every p

[2015-03-05 15:57] loadedsith opened #85 "HTML Entities not rendered as they are on SquareSpace."
This is a minor issue at best.

I've a Copyright HTML entity "©" in my footer. It renders on SquareSpace and their editor, but not on my node-squarespace-server version.

No need to fix it on my behalf. Just wanted to let you know.

[2015-03-05 20:59] kitajchuk commented on #85
Weird. I'll still look into this :)

[2015-03-05 23:07] kitajchuk opened #86 "Tag squarespace:query not processed correctly"
Currently doesn't support json-template as field values. Also doesn't account for queries contained inside of repeated sections. For example, where you should get 3, you get 1.

[2015-03-05 23:37] #86 closed

[2015-03-06 00:08] kitajchuk commented on #84
Can you paste a snippet of your template code where you are using the `item-classes` formatter so I can get an idea of how the context is being applied?

[2015-03-06 00:58] kitajchuk commented on #85
Yep, looks like it is because those characters are coming back as "\uFFFD", the unicode replacement character for unknown character values. Since it works on Squarespace, it must be due to the fact that I am using the request module to retrieve all the block widget content.

Also, Squarespace actually renders those as "©" rather than "&copy;" which is unfortunate.

[2015-03-06 01:09] #58 closed

[2015-03-08 06:53] sinakarimi opened #88 "TypeError: Cannot read property 'folder' of null"
Everything was working fine, there were no changes made but then I suddenly started getting errors after I added a new folder in my squarespace website navigation.

[code]

[2015-03-09 01:20] sinakarimi commented on #88
Also just a quick note, I had followed all the steps in the troubleshooting section here https://github.com/kitajchuk/node-squarespace-server#troubleshooting and the error still occurs.

[2015-03-09 16:17] kitajchuk commented on #88
Hmm, do you have any idea which line in your template may be causing the error?

[2015-03-09 16:27] kitajchuk commented on #88
Also, are you on the latest version of the server?

[2015-03-09 21:20] sinakarimi commented on #88
I haven't been able to identify which line is causing the error. I haven't made any reference to 'folder' anywhere in the template. The base template used for the project is this template here http://www.squarespace.com/templates/?q=wexley if that helps at all.

I might continue to do some more debugging tonight, it could very well be an issue with the template as I am unable to reproduce this err

[2015-03-09 22:21] kitajchuk commented on #88
Great, thanks. I'll get that template running and try to reproduce :)

[2015-03-10 00:13] kitajchuk opened #89 "Multiple header regions causes incorrect collection compiling."

[2015-03-10 22:09] #89 closed

[2015-03-11 23:53] kitajchuk opened #91 "Handle sessions with Express, persisting the logged-in state"

[2015-03-12 00:40] kitajchuk opened #93 "Bug in template reloading"
Content is getting duped multiple times after a few reloads...

[2015-03-12 00:43] kitajchuk commented on #93
Having a hard time replicating this now so just keep an eye out for it...

[2015-03-13 20:31] loadedsith commented on #10
I've been annoyed by this. Mostly when I change a rule I'm clearing the cache, but I wonder if you could simply inject an extra body class, say "sqs-local" then wrap all the local LESS code with that class. This should make every local rule more important than remote rules, without failing to load the remote css.

What do you think?

[2015-03-13 22:36] #79 closed

[2015-03-13 22:40] kitajchuk opened #94 "The "Local LESS" Issue"
Opening a new ticket to cover the actual problems solely related to LESS compiling. Currently, the primary issue is that all less needs to be compiled at once to avoid issues with variable scope. After that, the custom Squarespace imports just won't work.

[2015-03-13 22:41] #57 closed

[2015-03-13 22:42] kitajchuk commented on #94
There is a bit more info here: https://github.com/kitajchuk/node-squarespace-server/issues/79, but the scope of this particular issue began to go beyond just the LESS compiling.

The other issue related to the remote site.css can be tracked and tackled here: https://github.com/kitajchuk/node-squarespace-server/issues/10

[2015-03-13 22:44] kitajchuk commented on #79
Moving this into an issue space where the focus is just for the LESS compiling: https://github.com/kitajchuk/node-squarespace-server/issues/94

[2015-03-13 22:46] cwaring commented on #79
:+1:

[2015-03-13 22:47] kitajchuk commented on #10
Unfortunately, I don't think a specificity solution will fully resolve the pain points currently related to local css and remote css. The only real ideal resolve would be to manage to serve only remote Squarespace css without any of the template specific css. That way the local css is the only template css loading locally. Reading through some of this conversation, however, will reveal that more i

[2015-03-16 18:44] foleyatwork commented on #71
Currently working on a fix for this. Are you overwriting search parameters anywhere? I've been digging trying to find it, but when I write:

https://some-url.squarespace.com?password=whatever

The search parameter is removed.

[2015-03-16 18:59] kitajchuk commented on #71
Hmm. Well, the password field for the middleware is for the sitewide password. For password protected pages, you get a form you need to enter the password in. Does that work the same as the sitewide password?

[2015-03-16 19:01] kitajchuk commented on #71
My experience is that for passwords at the page specific level, you have to fill in that form.

[2015-03-16 19:02] foleyatwork commented on #71
Yea, if you go to a password protected page with the password set as a search param, it will let you through. I thought refreshing with the search param in place would be a super easy way to get around this bug, but it's being overwritten.

[2015-03-16 19:03] foleyatwork commented on #71
Basically, my approach was anytime you get a 401, send someone to a password page then refresh the page with the value of the password field set in the search parameter.

[2015-03-16 19:16] kitajchuk commented on #71
Ok, this is weird. I'm actually getting password protected pages to just render locally without a password. I'm wondering if requesting via the modules middleware somehow breaks around this restriction...

[2015-03-16 19:23] foleyatwork commented on #71
How are you requesting those pages? When I navigate through my site using node-squarespace-server, I get this response from password protected pages.

<pre><code>
TypeError: Cannot read property 'typeName' of undefined
   at getTemplateKey (/Users/kfoley/node-squarespace-server/squarespace-template.js:298:35)
   at Object.renderTemplate (/Users/kfoley/node-squarespace-server/squarespace-template.j

[2015-03-16 19:42] kitajchuk commented on #71
I think you can only get the HTML, not the JSON...

[2015-03-16 19:42] kitajchuk commented on #71
No, it seems to be working for both.

[2015-03-16 19:43] kitajchuk commented on #71
Are you all up to date on the module? I think 0.2.3 is the latest.

[2015-03-17 01:12] foleyatwork commented on #71
Middleware is up-to-date but I might be a little behind on the server. I'll double check tomorrow and see if I can get more info on this one.

[2015-03-25 19:18] skrichten opened #95 "Problems with "Momentum" template"
I'm trying to use your local server to modify the "Momentum" template but it seems that something about the template configuration is tripping up this local server.  The photo gallery link in the main navigation doesn't get an href and the photos in the gallery do not render.

The photogallery is a custom "index" type collection with this configuration...
{
  "title" : "Index",
  "folder": true,

[2015-03-26 19:40] kitajchuk commented on #95
Offhand, I'm not positive. I'll have to play around with it to see what is breaking down.

[2015-03-26 19:44] skrichten commented on #95
Thanks.  I'm still not sure what's up with the link in the main navigation, but I figured out the issues with the gallery itself.  It looks like the local server does not support "or" logic like this... {.if title || body}.  And the other issue seems to be lack of support for the predicate {.image?} which isn't surprising since I could not find it in the squarespace docs either.

[2015-03-26 20:43] kitajchuk commented on #95
Ah, yeah. The "or" operator isn't working for the local server. The Squarespace guys are now working on making what should be the real deal version of this tool, so there's that to look forward to. It will be able to interface with the real production code for Squarespace thus being a better tool in general. As for the JSON-T stuff, they are working on a direct port of their Java version into Java

[2015-03-30 14:32] skrichten opened #96 "Support for static pages?"
It looks like this server does not support static pages as described here...

http://developers.squarespace.com/template-overview-1/?rq=.page
Under the section called "/pages/"

Is this something that could be added?

[2015-03-30 16:21] kitajchuk commented on #96
Most likely, yes. I just haven't looked into it as of yet.

[2015-03-31 20:12] yatryan opened #97 "Collection Comment support"
Comments on collection items are not rendering locally. Both the input box and any existing comments are not displaying. The JSONT is:
[code]

This might be more appropriate in [kitajchuk/node-squarespace-middleware](https://github.com/kitajchuk/node-squarespace-middleware)

[2015-04-01 02:53] kitajchuk commented on #97
Yeah, comments are tough. The reason items like that don't render locally is because I have yet to look into how to use the API to get rendered comments. Any insights would be wonderful. It can be tedious figuring out how to get some of this stuff to work locally for sure...

[2015-04-29 03:01] hhff opened #98 "LESS Changes don't seem to affect anything"
Hi @kitajchuk !

Loving this library!  Just starting to get up and going - and a little confused re: LESS workflow.  I'm making changes to base.less, and the server sees the changes and reloads the Template, however the changes aren't reflected.

[code]

The compiled `/site.css` only contains the `reset.css` file -  not the contents of `base.less`.

I'm using the Squarespace base template: https:/

[2015-04-29 06:51] kitajchuk commented on #98
Are you importing any of the auto-magical Squarespace LESS files, such as "sqs-grid-breaker"? If that's the case, I'm afraid you're looking at this problem here: https://github.com/kitajchuk/node-squarespace-server/issues/94. Being an open-source project working against a proprietary platform, this issue enters the realm of where what we are capable of really breaks down a bit.

[2015-04-29 14:30] hhff commented on #98
Nope - just using the standard Base Template above.  It declares `base.less` in the `template.conf` file, but it definitely isn't included in `/site.css`.

I've been making my edits directly at the bottom of `reset.css`, and those changes are working fine.

[2015-05-12 23:55] mrmayfield opened #99 "Can't boot server"
Trying to add
[code]

when this is my template.conf

[code]

but it blows up with syntax erros

[code]

My two guesses:
1) I don't have a 'developer template' set up correctly, wherein the code would be valid JSON and could have the server block added easily
2) The documentation is lagging behind some changes to template.conf

Any ideas? Thanks a lot!

[2015-05-13 00:02] #99 closed

[2015-05-13 00:03] mrmayfield commented on #99
I'm tripping. Got it, thanks. :)

[2015-06-04 22:21] kweestian opened #100 "TemplateSyntaxError: Got too few {end} statements"
Hey first off thank for making this, really awesome!

Making a project for a friend, kind of a newbie at life/coding so bare with me

Everything was running fine yesterday, then I pushed some minor commits to my squarespace repo. After pushing, I started my server,  signed in to squarespace locally,  and then my server shuts down and give me this :

[code]

before i clear the cache, if i start my

[2015-06-04 22:42] kitajchuk commented on #100
It seems like you may have some json-t that isn't closed properly with the {.end} tag. Look into that for starters and see if you missed one somewhere.

[2015-06-04 23:27] kweestian commented on #100
yes of course i was! such a clown
all good now was just missing a stupid {.end}

thank u for your prompt reply!

[2015-06-04 23:56] kitajchuk commented on #100
No problem, glad you're cruising again!

[2015-06-04 23:56] #100 closed

[2015-06-07 21:41] harismahmood89 opened #101 "Hitting 404 after log in"
I can't seem to figure out why I keep hitting a 404 after logging in to the local site. Is there a particular URL I'm supposed to be hitting past the `localhost:5050` part?

Any help would be appreciated! Thanks

[2015-06-10 05:33] harismahmood89 commented on #101
Sorry to be a pain, but any ideas? @kitajchuk?

[2015-06-10 05:49] kitajchuk commented on #101
Can you give me any more information about your setup? There isn't a particular url you need to hit. The server acts as a proxy to your remote Squarespace site. What template are you using?

[2015-06-10 14:19] harismahmood89 commented on #101
I'm using the default base developer template.

I added the `siteurl` and `sandbox` option in the template file. see below:
[code]
I run the server as directed. It presents the login screen, but after signing in it just throws a 404 error.

[2015-06-10 16:32] kitajchuk commented on #101
Do you have an active sitewide password?

[2015-06-10 16:49] harismahmood89 commented on #101
Nope - i tried testing it out by putting in my squarespace password, but that lead to the same results.

[2015-06-15 00:33] harismahmood89 commented on #101
Would someone have a repository on github with their set up? Maybe I can give that a shot or compare it to what I have myself?

Really want to get this working.

[2015-06-15 16:22] kitajchuk commented on #101
This is super hard to troubleshoot from my end. The node server just acts as a proxy, replicating as much of Squarespace as it can. Super particular issues like this are hard to debug from behind a wall with no visibility into your setup. I know sandbox mode sites are particular in general. I'm wondering if something changed there that is causing the issue...

[2015-06-20 16:06] blaisefreeman commented on #101
I'm having the same problem. Using a squarespace site in trial/sandbox developer mode. Can enter my username/password but then takes me directly to a 404 screen.

To get started I just followed this guide step-by-step: https://www.youtube.com/watch?v=tl6Dr4wh0ls

[2015-06-20 16:26] blaisefreeman commented on #101
Tried it with a **paid** site, not trial/sandboxed, and it worked fine.

So the problem appears to be with sandboxed sites...

[2015-06-20 17:02] harismahmood89 commented on #101
Thanks for the find. Unfortunate that sandbox/trial doesn't work anymore. Wonder what squarespace changed on their end to cause it to break.

[2015-06-20 22:19] kitajchuk commented on #101
This isn't too surprising. Sandbox sites are protected anyway. It was probably a fluke that the header spoofing worked for the node server to get around that. But I'm guessing @harismahmood89 is right and something has changed that stops this from working anymore.

[2015-07-07 19:33] Kunamatata opened #103 "WIDGET ERROR - Access Denied: Invalid session crumb"
Hi,

After launching the sqs server with sandbox: true, since I'm currently on trial account I get this error in the terminal.
I am using <squarespace:block-fields> as well in my template and they don't show up as they would in the squarespace online editor. There isn't the content inside of those custom blocks and their css isn't as shown on the online editor.

Thanks in advance,
Max

[2015-07-07 22:23] kitajchuk commented on #103
Skim through this issue thread, but it looks like the server may no longer work on sandbox accounts. Likely a change on Squarespace's end and could be due to security:

https://github.com/kitajchuk/node-squarespace-server/issues/101#issuecomment-113829240

[2015-07-17 02:26] zamiang opened #104 "Login fails"
After starting the server and logging in, I get this error. Looks like something in the squarespace API's login response has changed.

The error is coming from `squarespace-middleware` - happy to move this issue there if you think that is more appropriate.

[code]

[2015-07-18 17:44] kitajchuk commented on #104
Try busting your cache locally. Also, are you using a trial mode account?

[2015-07-18 18:53] zamiang commented on #104
@kitajchuk Doh! Thanks. I thought I did that but tried again and not it works.

[2015-07-18 18:53] #104 closed

[2015-07-20 02:26] kitajchuk commented on #104
Cool. Glad it worked out for you :)

[2015-07-20 08:02] justincharles commented on #101
I've got a paid site but I'm still getting hit with a 404.

[2015-07-20 15:49] kitajchuk commented on #101
@justincharles - Which template are you using?

[2015-07-20 15:49] justincharles commented on #101
Base Template

[2015-07-20 15:50] kitajchuk commented on #101
Password, no password?

[2015-07-20 15:50] justincharles commented on #101
No password

[2015-07-20 15:51] kitajchuk commented on #101
Hmm. Anything else of mention, or just the 404?

[2015-07-20 15:51] justincharles commented on #101
No, just the 404.

[2015-07-20 15:55] kitajchuk commented on #101
I have a trial account using base and it works alright locally. But I haven't updated a lot with it. What is your setup like? Pages, config, styles etc?

[2015-07-20 15:57] justincharles commented on #101
I'm just setting things up fresh to start development on a new site so it's basically just grunt-init-squarespace.

[2015-07-20 16:24] kitajchuk commented on #101
What does your template.conf file look like?

[2015-07-20 16:24] justincharles commented on #101
`{
  "name" : "Base Template",
  "author" : "Squarespace",

  "layouts" : {
    "default" : {
      "name" : "Default",
      "regions" : [ "site" ]
    }
  },

  "navigations" : [ {
      "title" : "Main Navigation",
      "name" : "mainNav"
  } ],

  "stylesheets" : [ "screen.css" ],

  "systemCollections" : [ "products" ],

  "server": {
      "siteurl" : "https://eacypaanyc.squarespace.com"

[2015-07-20 16:36] kitajchuk commented on #101
Bizarre. Did you bust your cache and restart the server?

[2015-07-20 16:38] justincharles commented on #101
Yup : (

[2015-07-20 20:49] mramitpatel opened #105 "TypeError: Cannot read property..."
After I run ```sqs server``` and authenticate...
This error pops up seemingly during the authentication process since it doesn't post success.
[code]

[2015-07-20 20:56] mramitpatel commented on #105
Also, I have verified im using:
* ```https``` and not ```http``` in my conf.
*  site-wide password enabled

[2015-07-20 21:00] mramitpatel commented on #105
Solved. I mistakingly kept ```sandbox: trial``` in my conf despite being a paid account.

[2015-07-20 21:00] #105 closed

[2015-07-22 22:58] okalex commented on #98
@hhff, I was having the same problem, but turns out that base template does use some of the "auto-magical" LESS files referred to above. To work around it, open your `base.less` file and comment out the lines that include `@import 'sqs-grid-breaker';` and `padding-left: @site-title-font-letter-spacing;`

@kitajchuk, in order to figure this out, I had to clone the project and add some debugging log

[2015-07-23 07:38] justincharles commented on #101
It works now. Probably something weird on Squarespace's end.

[2015-07-23 16:36] kitajchuk commented on #101
Really, dang... I've had weird issues with Squarespace in regards to them stopping a site of mine under the pretenses of "too many unknown requests" before. Glad its working now.

[2015-07-24 20:06] #101 closed

[2015-07-24 20:06] kitajchuk commented on #103
@Kunamatata - Are you still getting this issue after busting your cache and restarting the server?

[2015-07-24 20:07] #98 closed

[2015-08-03 23:58] bcackerman commented on #101
If I have a sitewide password, what would the solve be?

[2015-08-04 00:10] bcackerman commented on #101
I actually just removed the sitewide password AND set a page to be the Homepage and the 404 error was gone.

[2015-08-04 04:16] kitajchuk commented on #101
Sitewide passwords are fine, you just have to define them in the `server` config in your template.conf file. https://github.com/kitajchuk/node-squarespace-server#usage

[2015-08-11 18:24] kitajchuk opened #107 "Search page does not work on local server"

[2015-08-11 18:40] #107 closed

[2015-08-26 21:11] josheigel opened #108 "Account for empty block-fields so server doesn't Error out"
I saw the documentation where this tends to be a result of site in trial mode without the sandbox being enabled, however I have changed my template.conf to contain the `"sandbox": true` and employed the `sqs buster` command before and after changing that flag. Nothing seemed to work and this is the error that I get:
[code]

I am currently running version 0.12.7 of Node. Please let me know if you n

[2015-08-26 22:03] kitajchuk commented on #108
Hmm. Looks like a block data issue. Do you know which blocks you have on the page that is throwing this error? This would be coming specifically from squarespace:block-field tags in your template files.

[2015-08-27 15:01] josheigel commented on #108
Sorry to waste your time, it was the block field:

[2015-08-27 16:58] kitajchuk commented on #108
Weird. I suppose its possible to have a block id that technically has no "blocks" associated with it. Which seems like that may have been the case. Glad you figured it out. I'll keep this issue open and see if I can implement a condition around such a case so the server doesn't blow up.

[2015-08-27 17:00] kitajchuk commented on #108
TODO:

Test empty block field
Determine appropriate place for an "empty block" condition in `squarespace-template`.

[2015-08-27 17:52] okalex commented on #96
This appears to be due to the fact that Squarespace does not include the `mainContent` field in the json data for these pages. The server would need to make a separate request to the same url with `?format=main-content` to retrieve this data. I'm not sure if it'd be better to do this here or in the `getJson` function of [node-squarespace-middleware](https://github.com/kitajchuk/node-squarespace-mi

[2015-08-27 18:31] kitajchuk commented on #96
This would definitely be handled in the server as opposed to the middleware. The condition would be applied for static pages and that extra request would have to go through the middleware to retrieve the data.

[2015-08-27 22:53] #93 closed

[2015-08-27 22:55] kitajchuk commented on #96
My understanding after reading up a bit is that static pages don't have mainContent. You can't add it in the CMS. Seems like the only options are high-level page settings and choosing which layout you want the page to render through.

[2015-08-27 23:42] kitajchuk commented on #96
Well, it just so happens we have found a good use for static pages on a current project, so this became a priority for me. This commit: 87ddf1e1cc0f3d4f60da33fddce9dc5f41f934e4 is the static page support implementation. It's working for me now on the project. I have a static page set as my homepage and spun up some tests that work as well. I'm curious to see if naming conventions would breakdown t

[2015-08-28 00:12] zacharyz commented on #96
Hey @kitajchuk I just tried it out, and it at least loaded up the static page. We include some partials though via
[code]
 that did not render correctly though and instead display "false."

[2015-08-28 00:49] kitajchuk commented on #96
Oh snap, I guess I excluded .page files from all the other template parsing. I can make sure that happens and try again.

[2015-08-28 01:00] kitajchuk commented on #96
Okay, @zacharyz, this commit here - ba758d759d8b86279aeb168f04f1f4b48db6a731 - adds static pages to the block partial replacements. Let me know if that works for you when you update and try again. I would run an `sqs buster` before testing.

[2015-08-28 01:11] kitajchuk commented on #71
Password protected pages work inherently now since the local server assumes the secure headers.

[2015-08-28 01:11] #71 closed

[2015-08-28 04:54] #13 closed

[2015-08-28 05:00] kitajchuk commented on #96
@zacharyz - Re-open this issue if you still get issues. Hopefully this last merge resolved them all though :)

[2015-08-28 05:00] #96 closed

[2015-08-28 05:02] #91 closed

[2015-08-28 05:03] kitajchuk commented on #84
@catherineomega - Re-open if still valid, but trying to cleanup issues as a lot of work has been done lately.

[2015-08-28 05:03] #84 closed

[2015-08-28 05:04] #85 closed

[2015-08-28 05:14] kitajchuk commented on #10
Closing this issue as there isn't a viable resolve. In addition, The magic sqs less imports will be ignored but logged locally and the styles will still come from the remote site.css anyway. This was worked out in a pull request with these commits:

df9604fcfb470d229f557b3f19edb36b9260d073
8f59e41d39bfba26d3d84a5a67fa561492908bbe

[2015-08-28 05:14] #10 closed

[2015-08-28 05:14] kitajchuk commented on #94
Closing this issue as there isn't a viable resolve. In addition, The magic sqs less imports will be ignored but logged locally and the styles will still come from the remote site.css anyway. This was worked out in a pull request with these commits:

df9604fcfb470d229f557b3f19edb36b9260d073
8f59e41d39bfba26d3d84a5a67fa561492908bbe

[2015-08-28 05:14] #94 closed

[2015-08-28 05:16] kitajchuk commented on #88
@sinakarimi Is this still an issue for you? Late, I know, but a lot of work has been done recently with direct regards to folder-navigation support. Wondering if you still have this issue or use the server anymore?

[2015-08-28 05:17] kitajchuk commented on #95
Going to close this issue and open one directly related to the "or" logic support with if conditions.

[2015-08-28 05:17] #95 closed

[2015-08-28 05:18] kitajchuk opened #112 "Support the "or" operator with .if statements in jsont"

[2015-08-28 05:20] kitajchuk commented on #108
Renamed the issue :D

[2015-08-28 05:22] kitajchuk commented on #103
@Kunamatata Pretty curious if this is still an issue. This is the only account of this happening so far.

[2015-08-28 06:11] Kunamatata commented on #103
@kitajchuk The issue was fixed after paying. Sandbox doesn't work currectly apparently. Sorry for the delayed answer sir!

[2015-08-28 06:11] #103 closed

[2015-08-28 15:07] josheigel commented on #108
No worries, thank you so much!

[2015-08-28 15:51] zacharyz commented on #96
@kitajchuk :+1: thanks!

[2015-08-28 16:16] kitajchuk commented on #103
@Kunamatata Sweet, thanks!

[2015-08-28 16:39] Kunamatata commented on #103
@kitajchuk Thank you for your this tool and your support!

[2015-08-28 16:50] kitajchuk commented on #96
Forgot to publish last night, just did. Latest is 0.2.12 on NPM which also includes the folder-navigation support.

[2015-08-28 17:11] okalex commented on #96
Thanks, @kitajchuk! I'll buy you a beer if I see you around town ;)

[2015-08-28 17:42] kitajchuk opened #114 "Serve the real 404 template"

[2015-08-31 19:33] alleyhector opened #115 "watch ENOENT error"
I get this error when trying to run the server. Any ideas what is going on?

fs.js:1172
    throw errnoException(err, 'watch');
          ^
Error: watch ENOENT
    at exports._errnoException (util.js:746:11)
    at FSWatcher.start (fs.js:1172:11)
    at Object.fs.watch (fs.js:1198:11)
    at Object.watch (/usr/local/lib/node_modules/node-squarespace-server/squarespace-template.js:151:8)
    at /us

[2015-08-31 21:24] blakeswitchco commented on #115
The problem derives from a missing 'pages' directory. If you create that directory in the root of the project, it should work.

[2015-08-31 21:37] kitajchuk commented on #115
Hmm. The `sqs-server` logs are correct and due to the fact that the magic sqs imports don't work locally, obviously. The watch error is no good, though. I just added support for static pages and obviously never tested with the absence of a `pages` directory. This should be resolved, though, so you should not be required to make a pages directory if you aren't using static pages. But for now you ca

[2015-08-31 21:50] #115 closed

[2015-09-02 19:02] kitajchuk opened #116 "Better logging - color, space etc..."

[2015-09-02 19:03] kitajchuk commented on #88
Closing this out. We can re-open it if its still bugging.

[2015-09-02 19:03] #88 closed

[2015-09-02 19:08] kitajchuk opened #117 "Remove exec node_module dependency - Use child_process.exec."
The exec node_module is deprecated in light of child_process :)

[2015-09-02 19:13] #117 closed

[2015-09-02 22:28] #116 closed

[2015-09-02 23:07] kitajchuk opened #118 "Prefer templates.collections[ typeName ] if templates.regions[ regionKey ] is undefined."

[2015-09-02 23:08] #118 closed

[2015-09-02 23:16] kitajchuk opened #120 "Support block partials in block partials."

[2015-09-02 23:24] #120 closed

[2015-09-03 00:35] kitajchuk opened #121 "Support {postItemInjectCode} tag."

[2015-09-13 16:44] #121 closed

[2015-09-13 16:54] kitajchuk commented on #97
Closing this as its an issue for the jsont parser [here](https://github.com/NodeSquarespace/node-squarespace-jsont/issues/8)

[2015-09-13 16:54] #97 closed

[2015-09-13 16:55] #112 closed

[2015-09-13 16:55] #45 closed

[2015-09-14 08:06] shamroze commented on #101
So is it a no? for trial mode for this good service kitajchuk ? :( As im unable to pass through the 404 issue and my web is on trial mode...

[2015-09-14 15:35] kitajchuk commented on #101
@shamroze - I don't think so. I have been running sites in trial mode with no issues. I'm not positive what is causing the 404 for you, but I can ask a few questions here that may help.

1. Are you using the absolute latest version of the server? `sqs --version` will tell you which version you are on. 0.3.5 is the [latest on npm](https://www.npmjs.com/package/node-squarespace-server). If you're no

[2015-09-14 20:50] shamroze commented on #101
@kitajchuk Im super glad to see your reply!! and thanks a ton for trying to debug  with such care. However I'm at home and my internet connection is not working very well.I'll have to re set it up as i messed quite a lot of stuff. But i'll be responding u as soon as i get to my table. I'll re check and re do all the things u mentioned above and will update you by next 12 hours i suppose. You can r

[2015-09-14 21:04] kitajchuk commented on #101
@shamroze no worries :)

[2015-09-15 07:03] shamroze commented on #101
@kitajchuk hey i followed what u asked to and now i can see my demo homepage up and running!! Previously i had an older version.
I did sqs buster
and it was a base template as well.
However when i hit 'sqs server' it throws this error.

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: listen EADDRINUSE

but then when i do sqs server --port=8000 and do localhost:8000

[2015-09-15 07:20] kitajchuk commented on #101
That error is due to having something else already running on port 5050, which is the default for the node server. So it makes sense that running the server on another port worked for you. Check your running node processes and make sure you don't have an instance of the server running in the background blocking your ability to run the default port 5050 :D

Glad you're up and running!

[2015-09-15 07:22] shamroze commented on #101
(Y) :+1:

[2015-09-15 07:22] shamroze commented on #101
:+1:

[2015-09-17 08:45] kitajchuk opened #123 "Use Squarespace Less compiler + GetTemplateTweakSettings API for local styles."
This will be the new home of this issue until its resolved :D

[2015-09-17 20:02] kitajchuk opened #124 "Implement some form of "livereload" when the local template changes"

[2015-09-17 20:46] kitajchuk commented on #124
Used browser-sync for this.

[2015-09-17 20:46] #124 closed

[2015-09-17 20:56] kitajchuk opened #126 "Make browser-sync reload work more than 2 times in a session"

[2015-09-17 22:21] #114 closed

[2015-09-21 19:35] kitajchuk commented on #126
Sometimes it does, and sometimes it doesn't. WTF!?

[2015-09-22 16:37] kitajchuk opened #127 "Move Squarespace tag replacements into node-squarespace-jsont"

[2015-09-22 16:53] kitajchuk opened #128 "Support all URL Query formats"
Works:
- ?format=json
- ?category=[categoryName]
- ?tag=[tagName]
- ?month=[monthPublished]
- ?offset=[hash]
- ?page=[#]
- ?format=main-content
- ?format=json-pretty

Missing:
- ?format=rss

[2015-09-22 17:36] kitajchuk opened #129 "Support a --no-cache CLI argument"

[2015-09-23 19:41] kitajchuk opened #130 "Handle condition where a Folder / Index has no children"

[2015-09-23 20:18] #130 closed

[2015-09-25 02:31] Aeon opened #131 "Use SquareSpace LESS compiler instead of less.js"
See https://github.com/Squarespace/less-compiler

Benefits:
 1. faster than lessjs
 2. supports squarespace-specific LESS features
   a. SquareSpace "tweaks" concept: http://developers.squarespace.com/style-editor/

   b. escaping variables to be used as selectors (see http://stackoverflow.com/questions/13553669/less-css-escape-interpolated-string-for-multiple-selectors) - see this example from `m

[2015-09-25 14:34] skrichten opened #132 "Error with Wells template"
I am trying to use the Wells template from Squarespace as a starting point and I get this error...

 sqs-log Error requesting block json from Squarespace with midd
leware => Empty block JSON

The site still loads but the individual gallery images don't show. Hard to say if this error is related to that  issue however.  Any ideas?

[2015-09-25 14:55] kitajchuk commented on #132
I can pull the Wells template and take a look at it.

[2015-09-25 14:59] kitajchuk commented on #131
Good idea. I'll look into testing this out :D

[2015-09-25 16:39] kitajchuk commented on #131
Hmm. Doesn't seem like this will work since the local server doesn't have any access to the Squarespace magic imports... For instance, testing with the default Wells template I get the following error related to this issue:

[code]

Any thoughts on this would be awesome since the magic imports are the only thing holding this back :/

[2015-09-25 18:52] skrichten commented on #132
The problem with the photo gallery is this...
[code]
I guess this isn't supported yet.  I think I ran into similar problems with the momentum template.  Any good workarounds for this kind of thing?  Is there an equivalent "if" statement I could use?

[2015-09-25 19:13] skrichten commented on #132
Oh, I see ".or" works now!  So I replaced that bit with this...

[code]
That'll work for now.

Still not sure what the empty block error is about though.

[2015-09-25 20:38] kitajchuk commented on #132
Are you using the latest version of the server? More specifically, the latest jsont node module: https://github.com/NodeSquarespace/node-squarespace-jsont

[2015-09-25 20:38] kitajchuk commented on #132
We don't have a `.image?` predicate. We have the `.main-image?` predicate. Is there documentation on `.image?` ?

[2015-09-25 20:40] kitajchuk commented on #132
Basically, we are currently supporting what is documented here:

http://jsont.squarespace.com/
http://developers.squarespace.com/quick-reference/
http://developers.squarespace.com/json-formatters/

[2015-09-25 20:43] skrichten commented on #132
I don't know why .image? isn't documented (they use it in their templates quite a lot), but it has the same function as .video? except it checks if the gallery item is an image of course.

[2015-09-25 20:49] kitajchuk commented on #132
Oh that's rad. I can support that easily enough :D

[2015-09-25 20:52] skrichten commented on #132
"Are you using the latest version of the server?"

I installed the server yesterday.  When I created the site, I also created most of the demo content in the squarespace admin.  Perhaps some secondary item didn't get created that should have.  Probably best to ignore it if you haven't seen any obvious issue.  I'll let you know if find anything.

"Oh that's rad. I can support that easily enough :D"

[2015-09-25 20:55] kitajchuk commented on #132
What are you scoped into when you are using `.image?`

[2015-09-25 20:57] skrichten commented on #132
".repeated section items" in a gallery.list template.  Same use case as ```.video?```

[2015-09-25 20:59] kitajchuk commented on #132
Yeah, I'm actually going through the Wells template now and I just caught that :P

[2015-09-25 21:09] kitajchuk commented on #132
Alright. I just pushed and published a couple of new predicates for the node-squarespace-jsont module. In order to pull these into your server install you'll want to run `npm install -g node-squarespace-server` and you should get `node-squarespace-jsont@0.1.19`.

[2015-09-25 21:21] skrichten commented on #132
Cool thanks!

[2015-09-25 21:23] kitajchuk commented on #132
Let me know if it works out for you :)

[2015-09-28 13:36] skrichten commented on #132
It does work, thanks again!  The empty block JSON error was coming from an empty text block in the header content area, so I think we can just close this.

[2015-09-28 15:41] #132 closed

[2015-09-28 15:43] kitajchuk commented on #132
@skrichten - Cool! The empty block JSON is more of a warning, though its logging as an error right now. The node middleware cannot know whether a block-field has content or not until its attempted to request that information from Squarespace. Hence, the empty block messaging when it comes back as such.

[2015-09-28 15:51] johnmcguin opened #133 "Cannot read property 'typeName' of undefined"
Hi @kitajchuk, I recently tried to switch a project over to start developing locally, which I've done before. This time I encountered this error. I recently updated to the newest version (0.4.3) and tried running the sqs buster, but keep getting this error. The page will load at first but will then error out immediately after load. Any thoughts appreciated. Thanks!

/usr/local/lib/node_modules/nod

[2015-09-28 16:02] mattnull commented on #126
I am noticing that this mainly happens for us when we use a template other than base-template

[2015-09-28 16:05] mattnull commented on #126
I believe the problem I am seeing is related to this issue -
`
/usr/local/lib/node_modules/node-squarespace-server/squarespace-template.js:886
    typeName = pageJson.collection.typeName;
                                  ^
TypeError: Cannot read property 'typeName' of undefined
    at getTemplateKey (/usr/local/lib/node_modules/node-squarespace-server/squarespace-template.js:886:35)
`

[2015-09-28 16:17] kitajchuk commented on #133
What page is throwing this error for you? What type of object is it? A collection, item. What type is it?

[2015-09-28 16:22] mattnull commented on #133
I've seen this error anytime I use a template other than base-template. While loading any page. I think this is related to https://github.com/NodeSquarespace/node-squarespace-server/issues/126

[2015-09-28 16:49] kitajchuk commented on #133
It seems unlikely that this would be related to `browser-sync`. I'm having no luck reproducing it currently. Which template are you using?

[2015-09-28 17:16] mwickett opened #134 "TypeError: Cannot read property 'replace' of undefined"
Getting this error:

[code]

I'm using a custom template (started from base-template). I have a site-wide password turned on and configured properly in template.conf.

If I run `sqs server` again, I get:

[code]

Running `sqs buster` and then `sqs serve` again gets the first error again.

[2015-09-28 17:25] kitajchuk commented on #134
Looks like the server believes your request is for a static page. Can you paste your page json. Also, what is the name of your `.page` template file?

[2015-09-28 17:41] mwickett commented on #134
I should have included that we are using some static pages - does node-squarespace-server not support them? The page is called `home.page`

To get the page json, I'm getting output of `https://<site-url>?format=json-pretty` ? (Just clarifying)

[2015-09-28 17:53] kitajchuk commented on #134
Static pages are supported so that's cool. But issues related to how the server figures out what pieces of your template to put together for any given request are usually easier to debug with the `json` output of said request. You can just hit this thread with the `collection` object output when you use `?format=json` on the request.

[2015-09-28 17:55] mwickett commented on #134
I was just reading over the closed issues related to static page implementation.

Collection object output:

[code]

Sorry the output is kind of fugly.

[2015-09-28 17:58] kitajchuk commented on #134
@mwickett - Could you also paste your `template.conf`? You can leave anything out you don't want in the thread, I just need to see your `layouts` information.

[2015-09-28 18:15] mwickett commented on #134
Sure thing.

[code]

[2015-09-28 18:19] kitajchuk commented on #134
Okay, cool. I think I see where the hiccup is in looking up the region to wrap the static page in. I should be able to resolve this pretty easily.

[2015-09-28 18:26] kitajchuk commented on #134
Hmm. It seems weird that you have a `regionName ` of "home" yet have no `home` layout specified in your template.conf...

[2015-09-28 18:27] kitajchuk commented on #134
And if you haven't manually set a layout for that static homepage in the CMS, the regionName should be `default` from my understanding.

[2015-09-28 18:30] kitajchuk commented on #134
I guess either way it doesn't matter. The server just needs to always resolve to using the default layout when all other lookup attempts result in nothing being found to use.

[2015-09-28 18:34] mwickett commented on #134
Yes, my understanding was that it would drop any static page content into `{squarespace.main-content}` without requiring individual layouts.

It's quite possible that I've buggered something up...I can try adding another layout if you think it would help.

[2015-09-28 18:38] kitajchuk commented on #134
You're fine. I'm guessing this commit, 4fb8ded8e6f7060e513753378f89c7ed09ce4e7e, should work out for you. Try an update, + node-squarespace-server@0.4.4 - this is the new version. Let me know if you still have issues and we'll keep hacking away at it.

[2015-09-28 18:41] kitajchuk commented on #133
@johnmcguin - Check my first comment. It would help if you can paste the collection object from the page you are trying to request as well as your layouts information from your template.conf file.

[2015-09-28 20:40] mattnull commented on #133
@kitajchuk I think I am noticing a pattern now. It seems like sqs is attempting to download a font asset as an html file in this case that I am seeing. You can see in the screenshot below that its adding a .html extension to the font file. In another scenerio I saw the same thing happen wtih an svg image, and another case that showed sqs fetching page-undefined.html.
https://www.dropbox.com/s/ltt2

[2015-09-28 20:43] kitajchuk commented on #133
BAM! That looks legit to me. How are you linking to those assets in your template?

[2015-09-28 20:44] mwickett commented on #133
I'm seeing a similar issue (after updating after #134 )
![screenshot 2015-09-28 16 42 53](https://cloud.githubusercontent.com/assets/845983/10148178/14c7eafa-6600-11e5-9f41-b00466286626.png)

[2015-09-28 20:45] mwickett commented on #134
After updating, the site loads locally, although not fully. Referenced the error [here](https://github.com/NodeSquarespace/node-squarespace-server/issues/133#issuecomment-143868653)

[2015-09-28 20:49] mattnull commented on #133
@kitajchuk we are including them in a css file. The css file references the font file via @font-face. In template.conf our fontawesome.css is in the "stylesheets" array.

[2015-09-28 20:53] kitajchuk commented on #123
The endpoint for `GetTemplateTweakSettings` looks promising. I've been playing around with the lessc compiler as well and it seems promising beyond the system imports. The ones I know are these

- sqs-grid-breaker
- sqs-ui-font
- social-icon-font ( deprecated )

I have a local branch as of right now that I have been playing with this stuff in. Your outlined plan of attack generally covers the gist

[2015-09-28 20:54] kitajchuk commented on #123
+ @Aeon

[2015-09-28 20:59] kitajchuk commented on #133
If you link to `/assets/fonts/fontawesome-webfont.woff2` instead does that work? I'm assuming you have a `fonts` directory in your assets folder, yeah?

[2015-09-28 21:08] mattnull commented on #133
@kitajchuk They are in the assets folder. That fixed my issue.

[2015-09-28 21:10] kitajchuk commented on #133
Awesome!

[2015-09-28 21:11] mattnull commented on #133
Thanks @kitajchuk

[2015-09-28 22:14] Aeon commented on #123
context:
See https://github.com/Squarespace/less-compiler

Benefits:
 1. faster than lessjs
 2. supports squarespace-specific LESS features
   a. SquareSpace "tweaks" concept: http://developers.squarespace.com/style-editor/

   b. escaping variables to be used as selectors (see http://stackoverflow.com/questions/13553669/less-css-escape-interpolated-string-for-multiple-selectors) - see this exampl

[2015-09-28 22:35] kitajchuk commented on #123
Perfect, thanks @Aeon :D

[2015-09-30 00:50] kitajchuk commented on #123
Implemented the middleware portion since that won't have any impact on current users of the server other than the initial fetch time. https://github.com/NodeSquarespace/node-squarespace-middleware/commit/16939fe2686fd33efbe68e6c1fb34561ead8fbd6

@Aeon - Working on the rest of the implementation. When I have a stub in some working order I'll push the branch up so you can have a peek at it.

[2015-09-30 17:12] kitajchuk commented on #123
@Aeon - Initial implementation is in this branch: https://github.com/NodeSquarespace/node-squarespace-server/tree/use-sqs-less-compiler.

Something is still missing though. I'm afraid it seems like there's still more Less/CSS that gets compiled into the global site.css file that maybe isn't in the raw tweak data.

A couple of notes. There is a `%SQUARESPACE_CDN%` placeholder that needs to be switc

[2015-09-30 18:22] skrichten commented on #133
I just started getting this same error but in a different use case.  I am using the Wells template and I have a folder in the main navigation.  In the folder I have a "page".  I want the user to get the first page in the folder when they click on it so in my nav template I have...

'''
<a href="{fullUrl}">{navigationTitle}</a>
'''

... even if the item is a folder. This works on the actual squares

[2015-09-30 18:28] Aeon commented on #123
I've opened an issue with SQS support, but they basically said that they do not have resources to either provide an API, or to include the secret sauce in the template.git. They didn't provide any detailed reasons though, trying to find out if they might do it in the future or not.

[2015-09-30 21:26] kitajchuk commented on #123
@Aeon - I'm sure they don't have a vested interest in providing tools to help resolve this on their end. That's cool though.

Anyway, I have a personal resolve I have been using to get by a little better. I just pushed the branch that contains the hack: https://github.com/NodeSquarespace/node-squarespace-server/tree/static-remote-css-local-hack.

Essentially, I never use the npm installed version

[2015-09-30 21:28] kitajchuk commented on #133
Hmm. @skrichten - Can you paste the collection object JSON for the page you would like to get working?

[2015-09-30 21:33] skrichten commented on #133
Right now, its just the contact page that comes with the template, and I put it in a folder.

[code]

[2015-09-30 21:36] kitajchuk commented on #133
@skrichten - Did you try running `sqs buster` then restarting the server?

[2015-10-01 12:48] skrichten commented on #133
yes

[2015-10-01 12:53] skrichten commented on #133
If I had to guess, I'd say the local server is trying to render the folder instead of the first page in the folder.  I'm not sure that behavior is officially documented anywhere.  I only knew because I found it in the forums...
http://answers.squarespace.com/questions/303/how-do-i-give-a-folder-a-default-page

[2015-10-01 17:23] kitajchuk commented on #133
@skrichten - This is true. The server actually checks for this specific scenario and handles it. Maybe there's more than one condition for it though.

https://github.com/NodeSquarespace/node-squarespace-server/blob/master/squarespace-server.js#L259

[2015-10-01 17:28] kitajchuk commented on #133
@skrichten - The weird thing is when I do the same thing on a site I'm currently working on it works fine. I have a folder called "Test Folder". Inside there I have a page called "Test Folder Page". The url works just fine and correctly redirects to the first page in the folder.

[2015-10-01 17:28] kitajchuk commented on #133
Is there something I'm missing about your case in particular?

[2015-10-01 17:32] jasonbarone commented on #133
@skrichten: I'm wondering how the scope looks on your navigation. Somewhere in there, there needs to be a `{.section collection}`. Can you paste in your entire .block template?

[2015-10-01 17:35] kitajchuk commented on #133
This is what the `menu-nav` markup looks like in my block partial.

[code]

We're specifically only using one `index` in our main navigation. But I added a `folder` as well and it worked as expected, redirecting to the first root page of the folder on the local server and on Squarespace.

[2015-10-01 17:36] kitajchuk commented on #126
I lied, browser-sync has been working fine...

[2015-10-01 17:36] #126 closed

[2015-10-01 17:39] kitajchuk opened #135 "Support a ?nodata query string in the url"
This would work much like the `?nocache` query string which cache busts the current request. The difference being that the `?nodata` query string would re-fetch the API endpoints it uses when you first login locally. This is helpful for things like navigation schema changes. Currently, you have to stop the server and re-login to pull the data fresh.

[2015-10-01 17:42] skrichten commented on #133
I'm using the Wells template from squarespace.  I only modified it so that the nav would link to the fullUrl even if the item is a folder...

[code]

I can't imagine that it would make any difference, but my main navigation does have another folder (currently empty).  So the structure is this...

Folder 1 (empty)
Folder 2 (contains the "Contact Page" from the Wells template demo)

[2015-10-01 17:54] kitajchuk commented on #133
Weird, when I visit your site I don't even see those links...

[2015-10-01 17:55] kitajchuk commented on #133
Sometimes its hard to debug without looking at how things are setup in the CMS as well unfortunately. I'll do my best to help figure it out with though.

[2015-10-01 17:58] skrichten commented on #133
The are labeled "Work" and "About".  "About" is the one that gives the error on the local server.  Work is an empty folder, but I dynamically add a second layer of naviation under it with DOM manipulation to get around the "no nested folders/indexes" limitation that squarespace has.

[2015-10-01 18:17] kitajchuk commented on #133
Cool, I'll check again. You can totally nest folders/indexes. The layout looks a little wonk in the CMS, but if you check your actual `siteLayout` data, the relationships are correct. I just add `index` and `folder` to my `index.conf` to enable it. You can hit this path off your site to check the navigation data `api/commondata/GetSiteLayout/`.

[code]

[2015-10-01 18:21] kitajchuk commented on #134
Closing this one since I think we are onto one issue at this point... I think :P

https://github.com/NodeSquarespace/node-squarespace-server/issues/133

[2015-10-01 18:21] #134 closed

[2015-10-01 18:44] kitajchuk commented on #133
@skrichten - Good news. I recreated your nav structure on a fresh instance of the Wells template and got the error locally. Time to fix :)

[2015-10-01 18:56] kitajchuk commented on #133
@skrichten - Just published the fix. Latest server version is now `+ node-squarespace-server@0.4.5`. This commit finds the cause of the error you were having 25e869541a3ace43645070d7d3b26f78f11140b5.

[2015-10-01 18:59] skrichten commented on #133
Nice!

"You can totally nest folders/indexes."

I noticed that this worked with indexes, but I ran into trouble when using the navigation tags/templates.  Thanks for the tip about GetSiteLayout, that might prove useful.

[2015-10-01 19:01] kitajchuk commented on #133
Sweet. Also, make sure you update to this version of the server: `+ node-squarespace-server@0.4.6` if you don't want the page json console logging on every request :/

Ma bad.

[2015-10-05 20:57] mattnull commented on #133
@kitajchuk I am noticing that i get this same issue when my page makes a cross domain ajax request as well. I am using + node-squarespace-server@0.4.6

[2015-10-05 21:16] mattnull commented on #133
@kitajchuk https://www.dropbox.com/s/9i7kibytnasqjt7/Screenshot%202015-10-05%2015.16.27.png?dl=0

[2015-10-07 06:15] kitajchuk commented on #133
@mattnull - re-opened the issue. Can you provide any more context into your setup and the nature of the request? If you can hit that page direct with `?format=json` and paste it here that might help to figure it out as well.

You say you're using `jsonp` for the request? Any particular reason? Usually `jsonp` is used for CORS.

[2015-10-07 15:58] mattnull commented on #133
I have a client app within my squarespace site. A few actually. They pull in data from a remote server. There actually isn’t anything in the json referencing this. It is a script tag that pulls in a JS app. That app pulls in data from a remote server.

——————————————————Matt Null / Human Design

CTO / Co-Founder

www.humandesign.agency

@iammattnull

On Wed, Oct 7, 2015 at 1:15 AM, BK <notificatio

[2015-10-07 16:13] kitajchuk commented on #133
@mattnull - Ok. This could be tricky without any visibility. What is the URL of the request that is blowing up? The full url. Is it on or off site?

[2015-10-07 16:55] mattnull commented on #133
It seems like the url wouldn’t matter. If I make any cross domain request sqs picks it up. I think the problem may be within the way that SQS grabs requests. Here is an example of how the request would look. Its standard JSONP. http://mydomain.com/v1/posts?type=twitter&limit=1&callback=mithril_callback_1444236149513_ma6emzij30

Cheers

——————————————————Matt Null / Human Design

CTO / Co-Founder

[2015-10-08 19:36] skrichten opened #136 "Support for events templates?"
I wanted to use my own template for events.  So I added events.conf and events.list.  It is working on Squarespace, but not on the local server.  Any idea why?

My events.conf looks like this...

[code]

[2015-10-09 05:26] kitajchuk commented on #136
Did you try running `sqs buster` to clear your local cache? You can also hit any local url with a `?nocache` query string to bust the cache for that particular request. If that doesn't work, let me know :)

[2015-10-09 12:42] skrichten commented on #136
Yeah, sqs buster is always the first thing I try.  Here is the page JSON if it helps...

[code]

[2015-10-09 12:44] jasonbarone commented on #136
@skrichten: Just an idea, but did you remove the events entry in the template.conf system collections array? If I'm creating my own collection template I make sure to delete it there.

[2015-10-09 13:00] skrichten commented on #136
Thanks for the suggestion.  I gave that a try, but I'm still getting the same result.  There is no output from ```{squarespace.main-content}```

I pushed that change to squarespace and ran sqs buster again as well.

Here is my template.conf

[code]

[2015-10-09 13:06] jasonbarone commented on #136
Ah OK I'm actually getting a similar thing on my site with the node server and I haven't pinpointed it. Essentially the node server is outputting zero content at the {squarespace.main-content} tag. For me it's happening on multiple collections. I'll post back if I can pinpoint it. I think it's something in my .region files. This may or may not be an issue with your events collection.

[2015-10-09 13:07] jasonbarone commented on #136
Also, forgot to mention that the node server is caching my collections correctly in the .sqs-cache, it's just that the template isn't displaying it where it should. It's invisible when you view the site via the server.

[2015-10-09 13:10] skrichten commented on #136
Looks like the same for me... I see page-upcoming.html (and.json) in my cache folder.

[2015-10-09 17:42] kitajchuk commented on #136
@skrichten Are you using `{squarespace.main-content}` in more than one place for the template render?

[2015-10-09 17:42] skrichten commented on #136
No

[2015-10-09 17:45] kitajchuk commented on #136
Dang. Okay, what does your `events.list` template look like?

[2015-10-09 17:48] skrichten commented on #136
Haven't done anything with it yet.  I just put ...
```<script>console.log({@|json-pretty})</script> ```

Also tried just some basic HTML, but nothing is output either way.

[2015-10-12 10:25] filipdanisko opened #137 "External links in submenu doesn't work."
Hi guys,
I just ran to issue with navigation. I created navigation with folder wich has external links in it.

Squarespace returning to template this:
[code]

Node-server returning this:
[code]
Are external links not supported or is it a bug?

btw: keep up a good work it is really helpful development tool.
Thanks.

[2015-10-12 17:17] kitajchuk commented on #137
It's very likely we aren't accurately capturing externalLinks in folders when we piece together the navigations. I'll take a peek around at this :)

[2015-10-12 17:41] kitajchuk commented on #137
This is a good find. It seems there have been a couple of oversights when working with navigations locally. Especially the use case of indexes and folders. I have this exact issue setup on my current site and am debugging locally now. Should be an easy fix here soon :P

[2015-10-12 17:59] #137 closed

[2015-10-12 18:01] kitajchuk commented on #137
@filipdanisko - Just pushed an update for this. You were right, we were not replicating the condition for `externalLinks` in index/folder navigations. Should be working now though. Published a new patch for the server `+ node-squarespace-server@0.4.7`.

[2015-10-12 18:16] kitajchuk commented on #136
@skrichten - Good news. I was able to replicate the scenario here. I have worked it out to be the following:

1. Events templates render locally if `events` is in the `systemCollections` array in your `template.conf`.
2. Events templates do NOT render locally if `events` is absent from the `systemCollections` array in your `template.conf`.

I'm not 100% sure why yet, but that comes next. This is a

[2015-10-12 18:23] kitajchuk commented on #136
I just uncovered the actual thing causing the issue. If your collection has no items it fails to lookup the correct template to render locally. Bleh! I'll fix this. Should be a quick one :)

[2015-10-12 18:26] skrichten commented on #136
I will double check when I get a chance, but I'm pretty sure it wasn't rendering for me even when I do have items in the collection...  Also with and without "events" in systemCollections.

[2015-10-12 18:42] kitajchuk commented on #136
@skrichten - I just pushed a small patch that I believe should resolve this. Give it a test and let me know. I was able to replicate what seems to be your issue as well as dictate what appeared to be causing the behavior. If you still get the same issue, let me know :D

`+ node-squarespace-server@0.4.8`

[2015-10-13 06:51] filipdanisko commented on #137
Awesome I just pull the update and test it out. Everything seems ok. Thank you for quick fix. :)

[2015-10-13 15:54] kitajchuk commented on #137
Sweet!

[2015-10-13 18:01] skrichten commented on #136
It is working now.  Thanks very much!

[2015-10-13 18:37] skrichten opened #138 "Navigation tags seem to be getting incorrect data"
This one is strange because I'm not sure how to consistently reproduce it.  Also, I think I've seen instances where the local server gets it right and squarespace gets it wrong!

The issue that I see at the moment  is occurring when I have a main navigation with folders and I navigate to a page within a folder.  Looking at the main nav JSON data... On Squarespace, the parent folder of the page I n

[2015-10-14 23:03] jlevinsohn31 opened #139 "Support user specified port for browser-sync"
Currently hard-coded as `3000`

[2015-10-15 05:10] kitajchuk commented on #136
Sweet!

[2015-10-15 05:10] #136 closed

[2015-10-15 05:15] kitajchuk commented on #138
@skrichten I'm pretty sure I know what's going on here. I need to make sure the node server accurately sets the `folderActive` and `active` properties in the navigation JSON. I believe currently it is trying to set them with the same condition which is likely why its the reverse of what you see on Squarespace.

[2015-10-16 02:54] skrichten opened #140 "Error with gallery block in block-field"
I have a block field in my site.region, and in the admin I put a gallery block in it.  When i load from the site from the local server, the gallery does not render and I see a js warning in my console.

```Returning, no wrapper found.```

Digging in Squarespace's code I see that this warning is output when it can't find an element with class ```sqs-gallery-container``` for the gallery.  Looking at

[2015-10-16 16:17] kitajchuk commented on #140
That's super weird, I'll look into it.

[2015-10-19 18:21] kitajchuk commented on #138
@skrichten I got in there and fussed around under the hood. The server definitely wasn't correctly setting the `folderActive` flag for navigation context items. Recreating that format is slightly more complicated than I had originally anticipated. Anyway, it seems to be working now and I published a new version of the server `+ node-squarespace-server@0.4.9`. Let me know if you notice anything els

[2015-10-20 12:47] skrichten commented on #138
Still having problems here.  If I am on a page within a folder, the folder still has folderActive = false on my local server, fodlerActive = true on squarespace.  See JSON from my console below.  Local on the left, Squarespace on the right.  And yes, I updated and busted cache :).
![2015-10-20_084302](https://cloud.githubusercontent.com/assets/739613/10607349/00262c98-7707-11e5-88af-1ebadb5b71fa.j

[2015-10-20 15:59] kitajchuk commented on #138
Is it a content type of `page` or a collection? I was looking at nested collections when I tested this out and everything matched up. I also tested against a static page within an index as well. I'll take a look. This is a good one :P

[2015-10-20 16:01] skrichten commented on #138
Its a custom collection, inside a folder.  My folder.conf is in the OP.

[2015-10-20 17:33] kitajchuk commented on #138
Weird. I replicated the scenario, a custom collection within a folder. I'm getting a consistent representation of the json data between my local and my remote.

Remote:
<img width="724" alt="screen shot 2015-10-20 at 10 31 18 am" src="https://cloud.githubusercontent.com/assets/438711/10615657/e2637e7c-7715-11e5-8531-773060068de7.png">

Local:
<img width="730" alt="screen shot 2015-10-20 at 10 31 0

[2015-10-20 17:34] kitajchuk commented on #138
Not sure what else is going on here to cause the issue to persist for you... I'll keep an eye on it and keep trying to replicate the issue.

[2015-10-20 17:40] skrichten commented on #138
Thanks.  Only differences I can see in the use cases that may or may not make any difference...
I have 3 items at the root level: a folder and 2 custom collections.  In the folder, I have multiple custom collections.  I have 2 navigation's configured in my template.conf... this issue occurs in the second one, haven't checked the first.

[2015-10-21 17:18] skrichten commented on #133
Help!!  I just started getting the error again, and I can't figure out what caused it.  Here is what I was doing when I first noticed it...  On my local I saw that reset.css was getting added to site.css as the last file, so I tried adding it to the config as the first item in the stylesheets list in template.conf.  Then I read on the sqs site that you are not supposed to have it in there so I rem

[2015-10-21 17:32] kitajchuk commented on #133
@skrichten Do you have a trailing slash in your `siteurl` in your `template.conf`?

[2015-10-21 17:39] skrichten commented on #133
No

[2015-10-21 17:43] kitajchuk commented on #133
Looks like this snippet, which is in the middleware methods, is the culprit:
[code]

Needs to check and make sure that the `url.replace()` result is not an empty string. Otherwise, you end up with what you have now which is a double trailing slash.

[2015-10-21 17:43] kitajchuk commented on #133
I'll open the issue on the middleware. Should be an easy fix :)

[2015-10-21 17:44] skrichten commented on #133
Thanks... still not sure why this just started happening all of a sudden though.

[2015-10-21 17:49] kitajchuk commented on #133
Yeah, seems like something that would have come up a long time ago. There was a recent merge into the middleware related to `siteurl` by @foleyatwork but I can't imagine it would have caused this issue. The merge simply ensures that your `siteurl` doesn't have a trailing slash when setting it in the config.

[2015-10-21 18:14] skrichten commented on #133
Wondering if it might be something strange on my local computer.  I fixed the trailing slash issue and still got the error.  Then I tried some other sites that I haven't touched in awhile, and I get the error there as well.  I'm on windows 10 pro 64 bit.  Let me know if you have any other thoughts on what I can try / look at.

[2015-10-21 18:42] kitajchuk commented on #133
Well, now I'm getting the same issue locally as well :(

[2015-10-21 18:45] skrichten commented on #133
oh, snap!  I guess its not my computer then.  Did Squarespace change something on their end maybe?  Please keep me posted and let me know if/how I can help in any way.

[2015-10-21 18:54] kitajchuk commented on #133
Ehyo, I just patched the middleware. Reinstall the server and make sure you get the latest version:

`+ node-squarespace-middleware@0.2.3`

[2015-10-21 18:56] skrichten commented on #133
Back in action!  Thank You!

[2015-10-21 19:04] foleyatwork commented on #133
@kitajchuk was this related to my change? If so, sorry.

[2015-10-21 19:14] skrichten opened #141 "Less / CSS files concatenated in reverse order?"
Looking at my site.css, it looks like reset.css is the last file and I see the last .less file from my config at the top.  So, it looks like the order is reversed.

[2015-10-21 21:35] kitajchuk commented on #133
@foleyatwork - nope, wasn't related to your change. Not sure what triggered this to start happening, but it was definitely weird and needed an update to how the URLs are put together for middleware api methods.

[2015-10-21 21:35] #133 closed

[2015-10-24 01:02] kitajchuk opened #142 "Don't render navigation items for disabled content"

[2015-10-24 01:03] kitajchuk commented on #142
Anything with `enabled: false` should be ignored when building navigation contexts.

[2015-10-24 16:41] kitajchuk commented on #141
Just pushed the fix for this: d7bb5c6583776ba54aeed236f06f4fd1890dedec

Published the new server: `+ node-squarespace-server@0.4.11`

:)

[2015-10-24 16:41] #141 closed

[2015-10-24 17:28] kitajchuk commented on #140
I just replicated this on a local copy of an un-modified `base-template`. It renders correctly the first time, but then fails when loading the block content from the local cache. Looks like that is where the issue is. Should be an easy fix :)

[2015-10-24 17:36] kitajchuk commented on #140
I just figured out what it is. I have this `packStr` method in the server utilities for minifying html locally when caching. But, the issue is that Squarespace renders the className for that block with hard returns. The method splits on new lines and such to perform the string packing so it breaks in this case.

This is what the gallery block className looks like from Squarespace:

[code]

[2015-10-24 17:36] kitajchuk commented on #140
Whoops, didn't mean to hit the "close and comment" button :P

[2015-10-24 17:47] kitajchuk commented on #140
Pushed a fix for this one: deaa83f54e0a20faed20324701fa9882c67f85be

Published new server version: `+ node-squarespace-server@0.4.12`

[2015-10-24 17:47] #140 closed

[2015-10-27 18:06] #142 closed

[2015-10-29 02:01] jasonbarone opened #143 "Node server trying to cache a scss file, returning typeName error"
[code]

Not really sure why the node server is trying to grab JSON from a Sass file though. It happens when I open Chrome Inspector on a static page. Not really sure how else to try to pinpoint it.

[2015-10-29 03:27] kitajchuk commented on #143
This is weird. Maybe related to source maps... not sure though.

[2015-10-29 14:43] jasonbarone opened #144 "Updating to node-squarespace-server@0.4.13 removes External Links from Navigations"
I just updated to the latest version it looks like External Links within Navigations are not rendering.

[2015-10-29 14:52] jasonbarone commented on #143
I've been digging around for a few hours, still not sure what else I can provide. The only thing I'm seeing constantly is a browser sync error that's repeating itself. I'm not even using --reload though.
[code]

[2015-10-29 15:08] jasonbarone commented on #143
I think I may have pinpointed it. A Chrome Extension called Emmet LiveStyle which is popular among Squarespace users (mainly due to me recommending it) seems like it's causing some issues with css files. Disabling the extension seemed to fix the crashing issue. I'm still getting a Browser Sync client error in Firefox though. I'm now looking through extensions. Should I open a new issue for Emmet L

[2015-10-29 18:55] kitajchuk commented on #143
Okay, cool. Glad its at least a specific use case scenario :)

[2015-10-30 16:02] jasonbarone opened #145 "Opening Chrome Inspector with Emmet LiveStyle installed crashes server"
if you're currently using Emmet LiveStyle for Chrome you might be experiencing server crashing when opening up Chrome Inspector. Not exactly sure why but LiveStyle is setup to sync CSS from Chrome Inspector to any open SublimeText CSS file. When you open Inspector it will crash the server immediately returning an error. The node server is trying to cache your active CSS file like it's caching a Sq

[2015-10-30 16:02] jasonbarone commented on #143
Created new issue for this: https://github.com/NodeSquarespace/node-squarespace-server/issues/145

[2015-10-30 16:02] #143 closed

[2015-10-30 18:12] skrichten opened #146 "MainImage section missing in navigation data"
On Squarespace I get the mainImage section in navigation items, but I'm not seeing it when using the local server.  I know that it might be unusual to need that, but it would be a big help to me right now.

[2015-11-03 01:16] aapljack opened #147 "Server crashing on initial page load"
I have just updated to the latest version of node-squarespace-server and am having an issue with the server crashing right as the first page loads. I get through the squarespace login step, the page loads and the server immediately crashes. I have uninstalled and reinstalled node-squarespace-server. I have also run through the troubleshooting items with no luck. Any insight?

[code]

[2015-11-03 05:30] kitajchuk commented on #147
Yes, for some reason your Javascript file is trying to load like a Squarespace page... How are you loading that jQuery fancylike script?

[2015-11-03 17:21] aapljack commented on #147
I have it linked via a relative path at the bottom of the document.

[code]
If I take out all this JS, I run into this error.
[code]

[2015-11-03 19:23] planetargon commented on #147
I have the server working again. Just realized the fancylike js wasn't in my squarespace directory. Fixed a couple other broken links to assets and I am back in business.

Thanks for the help.

[2015-11-03 19:24] aapljack commented on #147
I have the server working again. Just realized the fancylike js wasn't in my squarespace directory. Fixed a couple other broken links to assets and I am back in business.

Thanks for the help.

[2015-11-03 19:24] #147 closed

[2015-11-05 03:22] kitajchuk commented on #147
Ha! Glad you got it figured out!

[2015-11-05 21:23] michaek opened #149 "Development server renders nav from top node, while live server renders children"
I created a site by copying the [Pacific theme](http://www.squarespace.com/templates/?q=pacific%20businesses), and the navigation configuration contains a top-level "Welcome" with a handful of children. On the live server, the "Welcome" node is not rendered, while on the dev server it is.

Here's the configuration:
![screen shot 2015-11-05 at 2 17 09 pm](https://cloud.githubusercontent.com/assets/

[2015-11-05 23:57] kitajchuk commented on #149
Weird. What does the navigation block partial look like? Can you paste it in here?

[2015-11-06 00:01] michaek commented on #149
I'm pretty sure this is unchanged from the template:

[code]

It seems like it might be going into the folder code path, though the "Welcome" node is an index?

[2015-11-09 19:35] michaek commented on #144
This does appear to be a regression in 0.4.13. Links are missing in navigations in 0.4.13, but downgrading to 0.4.12 restores them. Possibly something missed in a37f111057c974e95b52e6a11c2dee97014dc95a ?

[2015-11-09 21:44] kitajchuk commented on #144
Yeah, I missed something in there. Sorry guys, been crazy busy so I haven't been able to get around to some of these issues yet :/

[2015-11-13 15:47] jasonbarone opened #150 ".if statement "or" operator crashing server"
Looks like using Squarespace .if statement operators are crashing the server returning the following error. The piece of code is: `{.if categoryFilter || tagFilter}`

[code]

[2015-11-13 16:55] kitajchuk commented on #150
Yeah, I know about this one. It's an issue logged here for the `jsont` module:

https://github.com/NodeSquarespace/node-squarespace-jsont/issues/21

[2015-11-24 17:08] kitajchuk commented on #150
Going to close this one here since it can be handled on the `jsont` modules end.

[2015-11-24 17:08] #150 closed

[2015-11-24 17:10] kitajchuk commented on #138
Been slacking - is this issue still persisting for you @skrichten ?

[2015-11-24 17:39] #135 closed

[2015-11-24 17:42] kitajchuk commented on #149
Replicated this locally with the Pacific template so I think I can fix it. It looks like I'm not currently supporting the `index?` predicate, just the `folder?` one.

[2015-11-24 18:10] kitajchuk commented on #149
An index only renders its children, not the index root, if its set as the homepage.

[2015-11-24 18:12] kitajchuk commented on #149
Nvm - that's hardcoded into the template. Looks like all it needed was to support the `index?` predicate.

[2015-11-24 18:15] kitajchuk commented on #149
Looks like a fix - but it was actually in the `jsont` module - https://github.com/NodeSquarespace/node-squarespace-jsont/commit/8247659f76422501575b21de9a7a6c0696d01cd7. I bumped the version for the server though, so you should be able to run an update and pull in the latest `node-squarespace-jsont` as well.

:)

[2015-11-24 18:15] #149 closed

[2015-11-24 22:29] #144 closed

[2015-11-24 22:30] kitajchuk commented on #144
Looks like my check for `enabled` links broke this since `externalLinks` get their enabled attribute set to false. Pushed a fix. New version: + node-squarespace-server@0.4.17

[2015-11-24 22:33] kitajchuk commented on #146
Can you give me an example?

[2015-11-24 22:36] kitajchuk commented on #146
Never mind the example - I have one I can work with on my project.

[2015-11-24 22:40] kitajchuk commented on #146
Looks like the data you get back from `api/commondata/GetCollections` is a subset of a full collection object for each collection. This endpoint returns full data for a collection: `api/commondata/GetCollection/?collectionId={id}`. Looks like the data fetching will need to first pull all collections and then iterate them all to pull full collection data. Tricky.

[2015-11-24 22:40] kitajchuk commented on #146
This will increase the amount of time the data fetching takes.

[2015-11-24 22:42] skrichten commented on #146
This is not a big deal for me anymore.  I just put placeholder rectangles where the images should be.  That was enough to get me past this.

[2015-11-24 23:11] kitajchuk commented on #146
Its cool. This was a good callout either way. The fix actually took place entirely in the middleware: https://github.com/NodeSquarespace/node-squarespace-middleware/commit/222588273665bc3f0d8a3a444213142f0566b341. If you run an `npm install -g node-squarespace-server` you should get the new middleware version which fetches full collection data. After that you should have the `mainImage` informatio

[2015-11-24 23:11] #146 closed

[2015-11-27 22:50] kitajchuk opened #151 "Support all block applications"
Currently only works with `{@|apply some.block}`

Needs to also work with `{foo.bar|apply some.block}`

[2015-11-28 00:03] #151 closed

[2015-12-01 15:36] Swelly opened #152 "Cannot read property 'typeName' of undefined"
Triggered after visiting blog/ url and have to remove page-global-.json to restart the sqs server.

Looking through previous errors I can't quite pinpoint what may be causing it to be honest. I thought it may be an asset path but everything looks good there. Any help?

![Image of Error](http://i.imgur.com/12aGTK1.jpg)

[2015-12-01 15:41] jasonbarone commented on #152
Which template are you working on, or is it a fully custom template? I've seen this error for a number of reasons, many of which I can't even figure out just yet.

[2015-12-01 15:43] Swelly commented on #152
@jasonbarone I'm using Takk for this site. There's some custom code in there but nothing that changed the integrity of the template structure.

[2015-12-01 20:30] kitajchuk commented on #152
Hmm. How can you get that template. I found a reference to it here:
https://support.squarespace.com/hc/en-us/articles/206544757-Discontinued-templates

[2015-12-02 15:58] michaek commented on #149
Looks good. Thanks!

[2015-12-03 18:17] LisaCarlson opened #153 "Cannot read property 'typeName' of undefined"
Hi @kitajchuk, I recently tried to switch a project over to start developing locally and I encountered this error. I have version 0.4.18 and tried running the sqs buster, but keep getting this error. The page will load at first but will then error out immediately after load. Any thoughts appreciated. Thanks!
![screen shot 2015-12-03 at 11 09 17 am](https://cloud.githubusercontent.com/assets/130427

[2015-12-03 19:28] kitajchuk commented on #153
It looks like a CSS file is trying to load like a page... How are you loading that CSS file?

[2015-12-03 19:38] kitajchuk commented on #153
I guess for better clarification - how are you trying to load that `widgets.css` file? Link tag in the header? Also, where is it located in your template structure?

[2015-12-11 21:00] loganwedwards commented on #152
As an aside, I saw this issue too when I had created a template on Squarespace and my local system was out of whack. Doing a `git pull` didn't resolve it, so running `sqs buster` to delete cache solved the issue. Hope this helps.

[2015-12-12 00:26] jasonbarone opened #154 "Continuous "Fetched fullData" entries after logging in"
Running into an issue with multiple sites that previously worked without issue. After clicking Login to authenticate, the server will continuously log "Fetched fulldata" entries while the browser shows the login animation. I end up having to stop the server and try again a few times until it successfully get through.

Any idea what could be causing that?

<img width="406" alt="screen shot 2015-12-

[2015-12-13 23:17] kitajchuk commented on #154
It's fetching the full data for all the collections your site has. How many collections do you have? This is the endpoint that shows all collections: `/api/commondata/GetCollections/`. The endpoint to get one collection is this: `/api/commondata/GetCollection/?collectionId={id}`.

[2015-12-13 23:55] jasonbarone commented on #154
When the server boots up perfectly, there's no "fetched" line, it just goes straight into the server without showing this stuff. I'm only seeing these "fetched" lines when the server is not actually booting up. It hangs during the after-login indicator. I haven't ever had it get hung up after authentication. I'll keep playing with it.

[2015-12-14 18:40] kitajchuk commented on #154
I'm experiencing this a well now. Must be something related to the process for fetching collection data up front. I'll get into it and see what's up.

[2015-12-14 18:42] kitajchuk commented on #154
Are you using the `.sqsrc` file for login? Seems that was the issue for me. Maybe I'll take a look at `node-keytar` as that seems like a better solution anyway :)

[2015-12-17 21:00] skrichten opened #155 "Cannot read property 'error' of undefined"
Just started getting this error.  I have already tried running sqs buster.

C:\Users\SleekDigital\AppData\Roaming\nvm\v4.2.3\node_modules\node-squa
respace-server\node_modules\node-squarespace-middleware\squarespace-mid
dleware.js:109
            error = (json.error ? json.error : error);
                         ^

TypeError: Cannot read property 'error' of undefined
    at Request._callback (C:\

[2015-12-17 21:10] skrichten opened #156 "New version (w/node-keytar) on Windows"
I was getting an error today, so I thought I would try updating to the latest version.  I was unable to install it on my Windows 10 machine, presumably because of the addition of node-keytar.  I think it is related to node-gyp.  It's a total PITA to get that working correctly on Windows.  I always got node-gyp errors/warnings when installing this package (and others), but this time it seems to be

[2015-12-17 22:13] kitajchuk commented on #156
I can look into that. I was looking for a good way to store creds for auto login and node-keytar seemed like a light-weight hit for it. It's a bummer it doesn't work on Windows - though the README mentions that it should... Sorry for the inconvenience.

[2015-12-17 22:25] skrichten commented on #156
It can probably work on Windows IF you can get node-gyp working, but you have to install a bunch of stuff and it isn't straight forward.  For example, they tell you that you need to install the windows 7 sdk, but that won't install on windows 10.

[2015-12-18 16:32] kitajchuk commented on #155
Yeah - I think this is related to the request timing out. Still need to figure out what to do about it.

[2015-12-18 16:33] skrichten commented on #155
Confirmed... This magically went away, so it was probably just Squarespace being slow for awhile.

[2015-12-18 16:50] kitajchuk commented on #155
Yeah - I'm working on some better error handling for the middleware based on Squarespace's response types. Ideally it will successfully log errors without blowing up for all known scenarios on the next  release.

[2015-12-20 10:09] patbegg opened #157 "Stylesheets are being loaded 2 times"
Hi,
Great work on this bad boy, helps development A LOT.

Im seeing an issue that I don't know is related to Squarespace or the the node-squarespace-server package. I can see the 2 stylesheets being loaded: 'site.css?&filterFeatures=false' and 'site.css'. The problem is BOTH contain my custom CSS i've created. It loads the former from 'http://static1.squarespace.com/static/sitecss/' and the later

[2015-12-22 01:08] kitajchuk commented on #157
This is a known issue for the local server. There is no way to replicate the remote CSS you get from Squarespace that is NOT your own template CSS - so the server loads local on top of remote. It's been a pain point for the project since day one. As of now, no good resolve has ever come to light.

This issue was the last great attempt at finding a solution - but it also hit a dead end: https://git

[2016-01-04 01:15] blakeswitchco opened #158 "TypeError: Cannot read property 'links' of null"
After upgrading I am seeing the following issue when starting up the server.

/usr/local/lib/node_modules/node-squarespace-server/squarespace-template.js:1120
xt = getNavigationContextItems( navigation, (pageLinks || navigation.links), p
                                                                    ^
TypeError: Cannot read property 'links' of null
    at getNavigationContext (/usr/local/lib/

[2016-01-04 17:22] kitajchuk commented on #158
It appears the navigation the server is attempting to find from the API JSON is `null`. It looks like the most likely reason this would happen is if a navigation with the `ID` specified in the template tag is not found within your sites layout API data. The layout API data can be referenced by hitting this path off of your Squarespace site's domain: `/api/commondata/GetSiteLayout/`.

[2016-01-04 17:57] #155 closed

[2016-01-04 17:57] kitajchuk commented on #154
After switching to keytar for login creds this went away for me.

[2016-01-04 17:57] #154 closed

[2016-01-04 18:04] kitajchuk opened #159 "Middleware headers no longer bypass password protected pages"
This means the server needs to support logging into password protected pages locally...

[2016-01-06 10:15] patbegg commented on #157
Hi,
Thanks for the clarification (apologies for the late response, just back on the project).

Can I ask what you do when developing locally then? Do you remove {squarespace-headers} and add back in when you're pushing the site live?

[2016-01-06 10:35] schikulski opened #160 "Issue compiling less files"
Having the same issue as #115 I think.

I created the pages directory, but same result.

[code]

[2016-01-06 18:21] kitajchuk commented on #157
I just push to master and bust local cache whenever I need to clear out old styles muffling up my new local modifications. I'll note that this is really only a solid solution while still in development. Once a site goes live, this isn't the best answer. At this point I've done everything under the sun but its just a delicate game you play. I do have some thoughts on it in terms of more formalized

[2016-01-06 18:38] kitajchuk commented on #160
Well, it looks like you're not getting an actual error thrown, just the logs noting that the automagical LESS that Squarespace offers isn't available locally - which does suck. You'll notice there is a lot of information about trying to resolve the local LESS issue here: https://github.com/NodeSquarespace/node-squarespace-server/issues/123

I know you can hit the less files on universal which mean

[2016-01-06 18:47] #157 closed

[2016-01-06 18:47] #160 closed

[2016-01-06 18:47] #123 closed

[2016-01-06 18:47] kitajchuk opened #161 "CSS vs LESS / Local vs Remote"
This is the place where these 2 related(ish) issues can be formally tracked against a solution. I'm attaching 3 current related issues for reference and closing them.

**Related Issues**
* https://github.com/NodeSquarespace/node-squarespace-server/issues/157
* https://github.com/NodeSquarespace/node-squarespace-server/issues/160
* https://github.com/NodeSquarespace/node-squarespace-server/issues/1

[2016-01-06 18:49] kitajchuk commented on #161
@patbegg
@schikulski

Just a heads up on where the thinking is going for these issues :)

[2016-01-06 19:48] kitajchuk commented on #161
I created a new branch, `css-vs-less-local-vs-remote`, to tackle these fixes. The first one, Local vs Remote, has an unpublished fix with this commit: ef1eee2df3f1bf02b8ae2d46fee3225f16e7ee40

[2016-01-06 21:03] Aeon commented on #161
Looks promising!

[2016-01-07 09:34] schikulski commented on #161
Sounds good!

[2016-01-10 23:57] patbegg commented on #161
I've been playing around and i've had some success with the following method (note that i'm using grunt in my workflow as a build tool but it's not necessary):

- In the SS (Squarespace) '/styles' folder I have base.css that contains ONLY the SS styles
- I have all the css that I have created in the '/assets' folder e.g. main.css
- I load the main.css file AFTER {squarespace-headers}
- I have had

[2016-01-11 01:28] patbegg opened #162 "Timeout error fetching content from Squarespace"
Hi,
I've got a problem with the node server hanging when it's fetching data from SS. In the log i'll get the following in the log:

[code]

It looks like it logs back in again and fetches more content. This works the first time but the second or third time it just hangs.

Any ideas?

[2016-01-11 18:49] kitajchuk commented on #162
Hmm. This is weird, haven't seen it behave this way yet.

[2016-01-11 18:52] kitajchuk commented on #162
Can you hit me with any more information? Like, template and so forth?

[2016-01-11 22:48] patbegg commented on #162
I have managed to solve this in a hacky way. I tracked the problem down to x2 specific pieces of content it was trying to sync (x2 imported wordpress blog posts). There was nothing obviously wrong with the content e.g. embedded video or large image, but after deleting the problem items and deleting local cache it all seemed to sync correctly. It was the Base Template being used.

I did take a look

[2016-01-11 23:03] kitajchuk commented on #162
I haven't messed with any importing from another platform. Good to know though.

[2016-01-25 16:32] mwickett opened #163 "Update failing on node-gyp rebuild - related to keytar package"
When running `npm update -g node-squarespace-server` I get:

[code]

I actually don't see the referenced log file anywhere, so can't include it. Appreciate any advice on this, thanks!

[2016-01-25 16:41] mwickett commented on #163
And...I just had to accept the Xcode terms of service. Sorry for the unnecessary issue!

[2016-01-25 16:41] #163 closed

[2016-01-25 17:57] kitajchuk commented on #163
Ha! Glad this ended up being a simple resolve :)

[2016-01-30 06:48] blakeswitchco commented on #158
Thanks! You are 100% correct, had a secondary nav block kicking around in the mobile nav that was cut from the site.

[2016-01-30 06:48] #158 closed

[2016-02-10 07:20] derekduoba opened #164 ""sqs server" command hangs on "Fetching data from Squarespace...""
The "sqs server" command stops on "Fetching data from Squarespace...," waits several minutes, logs back into Squarespace, and attempts to fetch data again. This continues until I ctrl+c out of the application.

Output:
[code]

The server entry in template.conf:
[code]

I am attempting to run this with a new-ish developer trial account. My local environment is a mac with node.js v5.6.0

[2016-02-14 22:37] derekduoba commented on #164
This issue appears to have resolved itself. Perhaps there was a network issue?

[2016-02-14 22:37] #164 closed

[2016-02-15 01:36] kitajchuk commented on #164
Yeah - you can encounter network issues sometimes. I get it from time to time. Annoying, but not much you can do. Possibly an offline mode could help a bit. As long as you have local cache and don't need CMS changes pulled down for what you are working on.

[2016-02-15 22:27] boboroshi opened #165 "Index loads in browser with "undefined" and nothing else"
Pages cache completely, less processing working (or at least not throwing errors), reloading the page checks the cache value in the server output. Same behavior in Chrome and Safari.

Have deleted .sqs-cache and reloaded, the error persists.

<img width="797" alt="screen shot 2016-02-15 at 5 26 26 pm" src="https://cloud.githubusercontent.com/assets/2223/13061970/45a68a06-d409-11e5-82e9-ef7332c7354

[2016-02-16 01:52] kitajchuk commented on #165
Hmm. This is a tough one to track down sometimes. I've seen it when I accidentally try to apply a block partial that doesn't exist. What's your template look like you're trying to render?

[2016-02-16 01:56] boboroshi commented on #165
Thanks for taking a look @kitajchuk.

I’m using the out-of-the-box developer theme from SquareSpace. Had to comment out one grid-buster include in the less file, and define one missing variable (also on the less side).

The site.region file is as such:
[code]

The only change there from default being the addition of the H&Co. font stylesheet call.

[2016-02-16 02:02] kitajchuk commented on #165
When you encounter the `undefined` rendering issue - do you have any files in `.sqs-cache` that cached with `undefined` as the contents of that file? If so, which ones?

[2016-02-16 02:03] boboroshi commented on #165
There's two files there:

page-homepage.html
page-homepage.son

They're both fully rendered pages and everything looks like it's there. "Undefined" shows up twice in page-homepage.html but in both cases it's conditional statements or part of a javascript function. Not rendered content.

[2016-02-17 00:17] boboroshi commented on #165
FWIW, loading up that page-homepage.html as a url after localhost gives the following content under the proper nav from the site:

[code]

So this may be more an issue of reading from SquareSpace than with the server itself locally.

[2016-02-17 21:18] boboroshi commented on #165
Okay, so the template was having lots of other issues as well. I turned off development mode, turned it back on, re-pulled the initial git repo, and it works. I'm going to chalk this up to something wonky that happened on the SqSp side as it's not replicable. Thanks for taking a look at it.

[2016-02-17 21:18] #165 closed

[2016-02-20 23:35] scottyeck opened #166 ""Fetching data..." hangs when website has no pages"
Likely, this is unavoidable, since obviously, when a website has no pages, there is nothing to fetch. Duh. That said, the docs might benefit from a quick mention of this under _Troubleshooting_ (which I'm happy to write). **Or**, even better yet, it'd be awesome if an error was thrown if the response contains insufficient data to start the _Express_ instance.

Mostly, I'm an idiot and would love i

[2016-03-03 19:46] jasonbarone opened #167 "TypeError: Cannot read property 'links' of null"
I think I had this issue in the past once. Hard to know what's causing it. I have 3 navigation areas in Squarespace, one of which is all folders and external links.

Here's the error:

[code]

[2016-03-09 01:53] mwickett commented on #166
This issue saved me some pain. I've used this awesome tool (Thanks @kitajchuk!) before but never on a bare developer template. Spent 5 minutes fiddling before I looked here and noticed this.

Second the idea of adding a note in readme and a more descriptive error.

[2016-03-09 02:24] mwickett commented on #166
Follow-up - I think this issue should actually be in [node-squarespace-middleware](https://github.com/NodeSquarespace/node-squarespace-middleware) as it handles the job of interfacing with your Squarespace instance.

Also, I *think* it's less about having `null` pages and more about there not being a homepage set (of course, to have a homepage you have to have at least one page).

[2016-03-16 13:57] imaffett opened #168 "Supported os's"
What os/platforms does this support?  I can't install this on OS X/El Capitan because of /usr/share being locked down (unicode install fails).

I've tried on Ubuntu 14.04 with Node v4.1.2 and 5.0.0, but get various issues with install.  On 4.1.2 keytar fails to install.

[2016-03-18 08:04] wearenifty opened #169 "sqs server doesn't start server"
When I run `sqs server` nothing happens. No errors, no indication that the server has started - which it hasn't. When I change template.conf I do receive a console.log message indicating the file was reloaded. How can I debug the issue to figure out why the server isn't starting?

[2016-03-18 14:43] jasonbarone commented on #169
The first thing to do is to open up the command line and run `sqs`. That should return the help menu in the command line. Does that work?

If so, then you at least have the command line tool installed.
If not, then it sounds like it might not be installed globally.

[2016-03-18 14:50] jasonbarone commented on #168
I'm not sure on platform support but it definitely works on OS X latest. The two most common issues I've seen are a failure to install because the user wasn't installing without using `sudo`, and a failure to install because of not accepting the terms of service agreement from xcode. I believe the latter has to do with keytar needing some sort of permissions.

Unfortunately I haven't run into the

[2016-03-18 14:53] imaffett commented on #168
@jasonbarone  you sure about OS X and El Capitan?  The unicode dependency tries to install in /usr/share which is blocked.  See http://apple.stackexchange.com/questions/193368/what-is-the-rootless-feature-in-el-capitan-really  on why it will fail.    I can get it to install, but then it fails trying to find the unicode module

[code]

I tried using sudo and I use XCode daily (and the command line

[2016-03-18 15:04] jasonbarone commented on #168
Ya I'm on El Capitan and have used this cli tool for awhile now.

I mean to say XCode's command line tools, `xcode-select --install`. I recall reading about the El Capitan root issue and install `xcode-select` and agreeing to the terms in the command line made all of my permission problems go away after upgrade. FYI, I also don't work as a root user and instead use `sudo` when installing global to

[2016-03-18 15:32] wearenifty commented on #169
yes. it's installed. the command runs, but it hangs. if I run sqs server in an arbitrary directory it outputs an error message as it should but in my squarespace template directory which is configured correctly I don't receive any errors or a console.log that the server has started listening.

[2016-03-18 16:33] wearenifty commented on #169
I dove into the code and figured it out. The server was hanging because of a ENOENT error caused by an incorrect path trying to read the .region files. The path assumption is that those files are in the template root - but in fact, they are in the blocks/ directory. Not sure if this is because I'm using a totally custom squarespace template or not. Anyway, I fixed the issue by updating the path

[2016-03-18 18:07] #169 closed

[2016-03-18 18:16] kitajchuk commented on #168
@imaffett - To answer your question in general, no OS testing has been done for this tool. I've been running this tool on my MAC since I think Mavericks. I've always just developed on my working MAC and have not done any testing, especially on Windows. This tool has always been a "build it as you need it" project given its nature.

As for the issue you're having, I haven't directly experienced it.

[2016-03-18 18:17] kitajchuk opened #170 "Get server running on latest node - v5.x.x"

[2016-03-19 06:42] cyponthemic opened #171 "ReferenceError: sqsLogger is not defined"
Hi support,

I have tried to run sqs server, but I am getting a error each time, see log below.

Thank you in advance for your help - let me know if you need more information from me.

Alex Chavet
[code]

[2016-03-21 11:22] imaffett commented on #168
@kitajchuk  - thanks.  After the outage over the weekend in NYC, and this, we've moved away from Squarespace.

thanks!

[2016-03-21 11:22] #168 closed

[2016-03-21 17:51] kitajchuk commented on #171
Yo - sorry about that. I had one bad ref to the logger variable in there after an update. This commit fixes it: bcbe04fa5fc8278dd27ccd659065fef0715855f3. If you update from npm you should get the latest which is 0.4.24.

[2016-03-21 17:51] #171 closed

[2016-03-21 17:53] kitajchuk opened #172 "squarespace.page-classes doesn't actually work :/"

[2016-03-22 06:10] johnchourajr opened #173 "TypeError: Cannot read property 'layout' of undefined"
`TypeError: Cannot read property 'layout' of undefined
    at getFolderRoot (/usr/local/lib/node_modules/node-squarespace-server/squarespace-server.js:319:51)
    at onExpressRouterGET (/usr/local/lib/node_modules/node-squarespace-server/squarespace-server.js:418:19)
    at Layer.handle [as handle_request] (/usr/local/lib/node_modules/node-squarespace-server/node_modules/express/lib/router/layer.j

[2016-04-02 20:23] derekduoba opened #174 "Server crashes when file doesn't exist"
Earlier today, I found an issue where the NodeSquarespace server will crash if a file within the "assets" directory does not exist (or, in my case, is improperly named). I attempted to add the following into the <head> of site.region:

<link rel="stylesheet" href="/assets/photoswipe/default-skin.css">

Unfortunately, I spelled it incorrectly:

<link rel="stylesheet" href="/assets/**phtotoswipe**/d

[2016-04-10 14:45] lyonsrob commented on #108
I'm getting the same error as above. Renaming the Footer block does get you passed the server crash, but the footer section is blank.

[2016-04-10 15:00] lyonsrob commented on #108
Quick follow up, I just pulled the contents of the <footer> tag from my live site and created a new file 'block-footerBlocks.html' in the .sqs-cache directory. This works now without having to rename the footer id in the site.region file.

[2016-04-13 01:29] lyonsrob commented on #107
In version 0.4.24 I'm receiving this error when loading the search page locally. Looking at the .sqs-cache, the resulting files are blank.

/usr/local/lib/node_modules/node-squarespace-server/squarespace-template.js:908
    typeName = pageJson.collection.typeName;
                                  ^

TypeError: Cannot read property 'typeName' of undefined
    at getTemplateKey (/usr/local/lib/node

[2016-04-26 14:53] olivertappin opened #175 "Page data not being pulled form Squarespace"
A sub navigation page has been duplicated in Squarespace, exists in the /config page and is accessible globally via the public URL. When running the local server, the homepage works fine as expected but when going to the new URL, it's showing a blank page (just echoing out the header and footer).

Errors from the log are as follows:
<img width="652" alt="screen shot 2016-04-26 at 15 49 37" src="ht

[2016-05-06 08:50] mikehuebner commented on #173
Getting the same issue for some reason. Cannot even login.

[2016-05-11 20:24] foleyatwork commented on #173
I got this the other day and a cache bust fixed it. Does your problem persist after running the sqs buster?

    sqs buster

[2016-05-13 18:40] mikehuebner commented on #173
I got it working out of random. I just re-installed the module and it seemed to start working fine. If you don't have an index page on the Squarespace site, it won't work either I found out. I either missed the documentation on that or there is none.

So basic steps to set this up:
- Have a SquareSpace account (that is a given)
- Turn developer mode on in the squarespace backend
- Create a default

[2016-05-13 21:48] kitajchuk commented on #175
Looks like your blocks don't have values when returning from the squarespace api... do those blocks exist?

[2016-05-13 21:50] kitajchuk commented on #174
Yeah, it should ideally not do this, but its just serving the template directory as a static dir through express, so it is relying on order of operations for  URLs. I haven't looked into a resolve for this yet other than make sure you're not referencing assets that don't exist :/

[2016-05-13 21:51] #159 closed

[2016-05-13 21:51] #139 closed

[2016-05-13 21:53] kitajchuk opened #176 "Remove browser-sync"
Would love to remove the browser-sync proxy and go back to a pure express server. This way browser-sync can be something implemented by the developer, for instance as a webpack plugin to proxy the node server.

[2016-05-13 21:54] kitajchuk opened #177 "Remove node-keytar"
This module is causing some issues for Windows. Also, it disallows the server to run on newer versions of node which is no good.

[2016-05-13 23:14] #177 closed

[2016-05-13 23:14] #176 closed

[2016-05-13 23:16] kitajchuk commented on #156
Removed keytar and am trying out xkeychain. Still requires node-gyp though so don't know if this makes it any better. The real reason to remove keytar was a dependency it had forcing the server not to run on newer versions of node.

[2016-05-13 23:16] #108 closed

[2016-05-15 14:34] olivertappin commented on #175
Those blocks exist, and they're showing/working on the Squarespace website. Is there anything else I can debug or share to help expose the exact issue I'm having?

[2016-05-23 22:22] corinnekunze opened #179 "TypeError: Cannot read property 'loginUrl' of undefined"
I saw this issue brought up before but 'sqs buster' does not seem to help resolve our issue.

Having this happen across multiple machines now for the same repo.
[code]

We recently changed our squarespace password and have updated the template.conf to reflect this new password.

We were all using a git config credential.helper cache so we wouldn't have to enter credentials on each pull push. I hav

[2016-05-24 18:04] corinnekunze commented on #179
I was able to log in finally by uninstalling node-squarespace-server and reinstalling it on my machine with:

npm uninstall -g node-squarespace-server
and
npm install -g node-squarespace-server

For whatever reason it was rushing into logging in with an undefined login. Reinstalling allowed me to get the login screen back and enter my credentials.

[2016-05-24 18:13] kitajchuk commented on #179
Glad it worked. It uses keychain to store login creds so possibly there are some weird hiccups that can happen there. Always using the latest version is recommended as well :)

[2016-05-24 18:13] #179 closed

[2016-05-24 18:13] kitajchuk opened #180 "Handle 404 using the `error` field"

[2016-05-24 19:29] #180 closed

[2016-05-24 20:26] #127 closed

[2016-05-24 20:26] #129 closed

[2016-05-24 20:26] #145 closed

[2016-05-24 20:26] #156 closed

[2016-05-24 20:27] #162 closed

[2016-05-24 20:27] #170 closed

[2016-05-25 16:45] jasonbarone opened #181 "Optional local config file to store server info"
Right now the server requires us to input server details into the Squarespace template template.conf. Would be cool to have an optional override in the form of a local config file, like a `.sqsconfig` or something so I can prevent plain text site passwords in template.conf from being pushed onto Git.

[2016-05-26 02:57] hortongroup136 opened #182 "localhost 5050 refused to connect."
After running sqs server the site loads on :5050, allows me to log in, but as soon as I click on any menu link the site pukes and gives me this error:

[code]

I can run sqs buster, but it just gives me the same error after I click on a link.

[2016-05-26 16:17] kitajchuk commented on #182
Hmm. This error is saying that the response JSON from the request is null. Do you have all the correct information in your `template.conf`? If you have a sitewide password, you need that. And if your site is in trial mode you need to specify the `sandbox:true` setting as well. Lastly, are you using the latest version of the server?

[2016-05-26 19:28] hortongroup136 commented on #182
Server version:
[code]

template.conf file shows:
[code]
Don't have a sitewide pass.

[2016-05-26 21:25] kitajchuk commented on #182
When I visit that squarespace domain I see a page claiming no such account exists:

No Such Account
The account you requested does not exist.

[2016-05-26 21:31] hortongroup136 commented on #182
My mistake. Here is the correct config info:

[code]

[2016-05-27 18:33] kitajchuk commented on #182
What template are you using as your base?

[2016-05-27 18:37] hortongroup136 commented on #182
Bedford

[2016-05-29 19:54] candinski opened #183 "Error fetching API data from Squarespace with middleware => Authorization Denied: You do not have enough permissions"
Hi,

I've been following this video (https://www.youtube.com/watch?v=tl6Dr4wh0ls) on how to set up a Squarespace site locally for development. I seem to be running into an error I can't resolve.

The Reader's Digest version of my steps are:

1. Created a trial Squarespace account
2. Added some pages and content
3. Switched to developer mode (didn't register as a developer account)
4. Cloned develo

[2016-05-31 17:33] kitajchuk commented on #183
Looks like your login credentials aren't correct? Are you an admin?

[2016-06-01 11:07] j2is commented on #183
I'm having the same issue on Mac trying to run Lange Squarespace theme locally.
I installed using `sudo npm install -g node-squarespace-server`, so should have admin credentials.
I downloaded Xcode and accepted the terms of license.

[2016-06-01 17:27] kitajchuk commented on #183
@candinski @j2is The error you are seeing is a response from Squarespace. It's saying the login user you attempted to login with locally does not have sufficient privileges to access your sites data in the way the node server does. Your Squarespace account user has to be an admin, your template has to be in developer mode and you need to be a registered Squarespace Developer.

Does that make sense

[2016-06-01 18:27] candinski commented on #183
@kitajchuk Thanks for the feedback.

Unfortunately when accessing localhost:5050 it doesn't get to the login screen where it would ask for the username/password.  It throws the permissions issue when first trying to access localhost.

As part of the test I have verified:
- the Squarespace User is a Developer account
- the Squarespace User I am using is the same for the Squarespace admin login and

[2016-06-01 20:57] kitajchuk commented on #183
@candinski Ok, cool. You can delete the login from Keychain Access. Open the app, select Passwords under Category in the sidebar and search "squarespace". The node server stores 2 values using `SquarespaceEmail` and `SquarespacePassword` as the Name entry. If you delete these, you will be prompted to login again when you boot the server.

[2016-06-01 21:58] candinski commented on #183
@kitajchuk - That did it.  I can now get to the login screen.  Thank you for all the help!

@j2is - This may solve your issue too so worth a try.

[2016-06-01 22:42] kitajchuk commented on #183
@candinski Sweet! Sorry for the back and forth. Let me know if you have any other issues.

[2016-06-01 22:42] #183 closed

[2016-06-03 01:18] j2is opened #184 "Cannot read property 'slice' of undefined"
Hi,

When trying to locally run the Lange theme I run into this error when running the server:
![screen shot 2016-06-03 at 02 12 01](https://cloud.githubusercontent.com/assets/6705382/15765845/2de3ed78-2931-11e6-926a-da8528cb4404.jpg)

I have a page set as the home page, I am the admin, have registered as a developer and template is in development mode. Any insight would be much appreciated, thank

[2016-06-03 18:30] kitajchuk commented on #184
Not positive. I think I'll have to test locally with this template to try and figure out what is going on.

[2016-06-03 18:50] kitajchuk opened #185 "Support {squarespace.page-title}"

[2016-06-03 18:51] kitajchuk opened #186 "Support {squarespace.template-revision}"
Could easily just swap this out locally for `Date.now()`

[2016-06-03 18:51] #128 closed

[2016-06-03 18:51] #138 closed

[2016-06-03 18:52] #174 closed

[2016-06-03 18:52] #166 closed

[2016-06-04 09:49] j2is commented on #184
Thanks that would be amazing

[2016-06-06 23:49] #185 closed

[2016-06-06 23:49] #186 closed

[2016-06-10 01:16] jasonbarone opened #187 "Support --auth argument to selectively impersonate Squarespace authenticatedAccount session"
Would be useful to selectively impersonate an authenticatedAccount session so we can test code with or without the `authenticatedAccount` JSON in Squarespace.

[2016-06-10 17:04] #187 closed

[2016-06-10 17:06] kitajchuk commented on #187
Published new version – [node-squarespace-server@0.5.31](https://www.npmjs.com/package/node-squarespace-server)

[2016-06-11 00:10] jasonbarone opened #189 "Add docs for nodeServer JSON"
The node server adds a `nodeServer: true` JSON key to the root Squarespace template rendering, which is incredibly useful for server-specific hooks and template code. Needs some docs to explain.

[2016-06-11 08:38] dmitrykiselyov commented on #161
@patbegg cool.
For a cache buster you can use `{squarespace.template-revision}`
For example `<link rel="stylesheet" href="/assets/styles/main.css?v={squarespace.template-revision}">`
Thanks to @jasonbarone for this idea.

[2016-06-11 08:38] patbegg commented on #161
Hi,

I will be away from 15th May to 19th June. I will be collecting my email intermittently but if your request is urgent please call on +61 420 971545 and leave a message.

Thanks,

Pat

[2016-06-11 09:03] dmitrykiselyov opened #191 "JSON boolean value converted to a number in Equal Predicate"
JSON boolean value converted to a number in Equal Predicate.
For example `{.equal? collection.homepage true}` will not work, but `{.equal? collection.homepage 1}` will be.

Brandon @kitajchuk, Thank you very much for this wonderful tool.

[2016-06-13 17:13] kitajchuk commented on #191
Interesting – is this a direct use case? For boolean conditions you could also just us the "if" predicate. `{.if collection.homepage}Homepage Stuff{.end}`

[2016-06-13 17:15] #189 closed

[2016-06-13 17:44] dmitrykiselyov commented on #191
Yes, I used once 😄 before I discovered the possibility of using `if` statement.

[2016-06-16 05:12] cassaram09 commented on #182
Hey guys any luck with this? I'm having the same issue. Server starts up fine but if I navigate to the page, the site attempts to connect and then my connection is refused.

Server version:
`> sqs-log Node Squarespace Server version 0.5.43`

Template.conf

[code]

Error:
[code]

[2016-06-16 14:15] effisfor commented on #153
Hi @kitajchuk, I get similar bugs, today it's js source map being parsed as page:

[code]

Script being used in page like others with SQS script tag. Any thoughts would be great.

[2016-06-16 15:18] effisfor commented on #153
Anybody desperate in the meantime, I had to hack `squarespace-server.js` with the following:

[code]
[code]

[2016-06-17 00:00] kitajchuk commented on #153
What version of the node server are you running? If you just update it this is already handled from quite some time ago - https://github.com/NodeSquarespace/node-squarespace-server/blob/master/squarespace-server.js#L31

The server is on version 0.5.43.

[2016-06-17 00:04] kitajchuk commented on #182
This is tough to debug. Do you have old credentials stored in keychain access?

[2016-06-17 00:05] #191 closed

[2016-06-17 00:05] kitajchuk commented on #182
Also, if you try passing a different port does it let you run it on that?

[2016-06-17 09:05] effisfor commented on #153
Hey, yep, on latest version.

On Fri, Jun 17, 2016 at 1:01 AM, Brandon Lee Kitajchuk <
notifications@github.com> wrote:

[2016-06-17 14:54] cassaram09 commented on #182
I did have the old credentials stored in keychain. I deleted them, cleared the local cache, and restarted the server on port 5050. It renders the login page, but if I attempt to "log in" I get the same error. Changing the port didn't work either.

[code]

[2016-06-17 15:57] kitajchuk commented on #182
@cassaram09 do you not have a homepage? I don't even think you can have that scenario but I have seen an issue where this happened because someone had no pages. But it definitely looks like you are getting a 404 back from Squarespace on that request. The good news is you're getting through the login portal and all the API endpoints are clearing.

[2016-06-17 16:00] kitajchuk commented on #153
I see. You're getting a js map file problem. This is sort of a bummer scenario since you ideally want to allow maps for your actual app js which is super handy. Maybe I can get in there and find a better way to process and try to serve map files.

[2016-06-17 17:02] cassaram09 commented on #182
@kitajchuk Yep - thought I had one of my pages set for the home page I guess not. Thanks a lot, really appreciate it!

[2016-06-17 20:08] bbk-sdp-2015-pkiern01 opened #192 "Failing on "Fetching data from Squarespace...""
I have tried sqs buster but when I run sqs server I get as far as logging into the config and then in my terminal it stalls at this stage: Fetching data from Squarespace...
No matter for how long I leave it or how many times, it never gets past this stage. Subsequently if I then try to refresh the page, it falls over with the following error:
<img width="1050" alt="screen shot 2016-06-17 at 21 06

[2016-06-18 20:53] lulato commented on #179
I'm stilling getting this error, @corinnekunze , could you go into a little bit more detail in how did you solve this problem?

[2016-06-18 21:12] lulato commented on #179
Right now, I am not able to get the prompt back after unstailling. Is there another way to clear the cache or my old credentials?

[2016-06-20 16:40] corinnekunze commented on #179
@lulato Not sure I can be much extra help other than running those npm uninstall commands as well as attempting to bust the cache with sqs buster.

One reason that this happened was because we changed our password for our account for squarespace.  I was using the git config credential.helper cache to store the old password. I think I used a command like this to unset them (not sure that made a dif

[2016-06-20 18:26] #182 closed

[2016-06-20 18:28] kitajchuk commented on #179
@lulato @corinnekunze you can open keychain access and delete the entries for `SquarespaceEmail` and `SquarespacePassword` to clear that out :)

[2016-06-20 18:48] lulato commented on #179
That keychain access tip worked.

[2016-06-27 13:37] chrisschaub commented on #182
For us, we had changed our master SquareSpace password and so the sqs server could not authenticate and get a json object. @kitajchuk suggestion to clear keychain access of any squarespace keys did the trick. Just open keychain access on osx and remove any squarespace keys. And then restart the sqs server.

[2016-06-28 00:44] henwen commented on #184
👍🏼 Having this issue as well with the Ishimoto theme. Good to hear I'm not alone.

[2016-06-28 00:56] kitajchuk commented on #184
@henwen I worked a little with @j2is on the side to help debug what was going on. It looks like the way some of the new templates are being authored by Squarespace is totally blowing up the node server. In this case it turned out to be an interestingly weird way they were using `squarespace:navigation` tags for classname rendering. The node server just doesn't parse it the way its being used. It w

[2016-06-28 14:56] henwen commented on #184
Thanks for the update @kitajchuk – I really appreciate the work and totally understand your decision to pause the project.

[2016-06-28 15:24] #184 closed

[2016-07-07 17:44] lifeinchords opened #193 "Live Reload?"
Hi,

I'm just getting started with Squarespace dev mode, and this project.
I got my basic dev template running locally on `localhost:5050`, with one + only template `site.region`, under the project root.

I'm making simple HTML changes to this template in Sublime while the `sqs` server running, and I'm seeing this output in my terminal:

[code]

but the browser isn't refreshing/updating/reloading

[2016-07-07 22:08] kitajchuk commented on #193
Reload is no longer a part of the node server core. I use browser-sync to proxy my node server instance and handle live reloading. This is useful when using different project scaffolds. I use the browser-sync webpack plugin since I use webpack for my project pipeline.

[2016-07-07 22:08] #193 closed

[2016-07-17 01:57] bradders commented on #192
Just stumbled on this after having the same problem. I fixed the issue by logging into Squarespace (https://mysite.squarespace.com/config) and creating a page in the pages section and setting that as the homepage. Hope that helps someone!

[2016-07-18 14:30] kitajchuk commented on #192
@bbk-sdp-2015-pkiern01 - do you have an active homepage set? I've seen this issue mentioned by @bradders happen quite a bit for folks that don't set an active homepage.

[2016-07-21 01:21] vicodinchik commented on #167
I have some issue

[2016-07-21 01:25] flppv opened #194 "TypeError: Cannot read property 'slice' of undefined"
Got that error after running `sqs server`, how to run it successfully?

[2016-07-21 14:36] mc2tc opened #195 "data.location undefined"
Hi-- I'm wondering if you can help with the following error. Thanks in advance.

mart @ ~/desktop/pands-development
 [8] → sqs server

/usr/local/lib/node_modules/node-squarespace-server/node_modules/node-squarespace-jsont/lib/predicates/location.js:23
    return ( data.location.addressTitle || data.location.addressLine1 || data.location.addressLine2 || data.location.addressCountry ) ? true : fals

[2016-07-21 16:32] kitajchuk commented on #195
Hmm. Looks like the `{.location?}` predicate is blowing up on you. What is the context in which you are using it?

[2016-07-21 16:35] kitajchuk commented on #194
Can you paste the entire stack trace from the error in here? Easier to get an idea of what is going on that way.

[2016-07-21 16:37] kitajchuk commented on #167
I think this has something to do with using a `<squarespace:navigation>` tag without a `navigationId` attribute. Any thoughts on that?

[2016-07-22 13:07] mc2tc commented on #195
I fixed the issue thanks. Just hadn't included an address in Squarespace settings.

[2016-07-22 17:12] kitajchuk commented on #195
Ok, cool. Glad it was a simple fix :)

[2016-07-22 17:12] #195 closed

[2016-07-22 22:06] aenhsaihan opened #196 "SyntaxError: Unexpected end of input"
Every once in a while, I'll break `node-squarespace-server`, and receive the following error:

[code]

Nothing I do has brought me back to its working state. I discard all my changes, and still get the same problem, even though everything was working fine before without any changes.

The only action that seems to work is deleting my repos, recloning them, running `npm install`, etc., which is a hu

[2016-07-25 20:38] hortongroup136 opened #197 "{.equal?} Predicate error"
When using this equal predicate syntax locally:

`{.equal? title "Foo Bar"}Hello World{.end}`

Everything prints out the way it should. However, when I push it to the live SQS site I am getting "{.equal? title "Foo Bar"}Hello World" printed out in my layouts.

After searching I came across several people solving this error, and Squarespace themselves recommending, using ":" as a delimiter between

[2016-08-31 15:29] mwickett opened #198 "Thanks!"
This is not an issue. This is a big 'ol "thank you!" Brandon, for all the energy and time you put into this project.

Until the official dev server, this project was a key part of my workflow. Thanks for creating and maintaining it, and for sharing it with the community.

You're awesome.

[2016-09-08 15:58] kitajchuk commented on #198
Thanks for the kind words! It was a really fun effort overall and we got an official dev server out of it! This open source project is the keystone that got Squarespace to begin working on official developer tools. Feels great not to work on it anymore, but it was definitely a blast to do it.

Happy developing :)

[2016-09-08 15:58] #198 closed, assigned to nobody

[2018-02-10 00:18] #194 closed

[2019-10-12 22:58] cleoold opened #199 "Only localhost accessible?"
After starting the local server I can only access the website through `localhost` or `127.0.0.1` and I cannot access it using the local IPv4 address under a wifi.

Am I missing something?